[2017-10-26 01:07] mengyingdu commented on #110
Hi,

Can you try to set 'default form value' as the one you want with the newest version of plugins?

We support default variation from v 1.6.4.

Let me know whether it works.

Thanks.

[2017-10-26 01:14] mengyingdu commented on #113
Hi,

As I understand, SKU should be unique, so your problem is you don't want duplicate, is it correct?
Also, can you explain more details?
If you could give us your Facebook Page, it also helps.

Thanks.

[2017-10-26 02:18] zeals75 opened #115 "Is there possible to make product description (main product information text) include line-breaking after sync?"
Hi, here's my WooCommerce's product main information (not short description):

After sync, the product information on the Facebook shop become:

I'm wondering is there possible to make it include line-breaking (like <br> tag) after sync?

Much appreciated!

[2017-10-26 08:00] javismiles commented on #105
Good day, so:

- I do exactly what you do but on an Android Nexus 5X instead of an iphone: I delete cache, I go to my store on facebook, open any product, click on button to go to store, and the cart  opens. If you can test it on an android nexus phone and you will see.

- Sync finished incomplete  again friends. 61 of the 80 products in sync, the rest didn't transfer.

- Another question, my prod

[2017-10-26 08:01] javismiles commented on #111
Good day, so:

- I do exactly what you do but on an Android Nexus 5X instead of an iphone: I delete cache, I go to my store on facebook, open any product, click on button to go to store, and the cart  opens. If you can test it on an android nexus phone and you will see.

- Sync finished incomplete  again friends. 61 of the 80 products in sync, the rest didn't transfer.

- Another question, my prod

[2017-10-26 08:09] edm0d0n opened #116 "Product Sync Minus"
I added some products on my woocommerce store i forced sync and the progress shows -142 items remaining and goes more minus. I tried remove the product catalog and ad again also the same issue.  After forcing again after removing product catalog it just adds 30 products i left it open for 2 hours to sync.

[2017-10-26 08:11] edm0d0n commented on #116
![image](https://user-images.githubusercontent.com/33116650/32041861-607e3816-ba3e-11e7-82ed-7965302bc3fa.png)

[2017-10-26 08:12] metuza commented on #113
Hello,

Actually it seems like the catalog and also the shop is working very well, no duplicate products as i can see. Also variable products seems to work ok in catalog and shop.

I think that this is a pixel issue, the pixel does not read the correct ID on my page/webshop as it sometimes return the differences as mention before.

The below 2 lines that shows the same product clicked on at 2 diff

[2017-10-26 10:03] AndreasMe commented on #114
Hi,
thanks for your reply. I really don't know where I can find this description box on FB. I'm using fb-businessmanager. Perhaps it is not fine for this?

regards

[2017-10-26 13:13] edm0d0n commented on #116
It seems like the syncing lasts forever and i got a notice that cpu usage reached some limit on siteground hosting. When i go to watch the feed not all products are synced  only 140 varations and 30 products. Please find me a way to completely remove the plugin and reinstall. i need to remove some databases so the plugin syncs all products.

[2017-10-26 16:20] senryxie opened #117 "Two PageView Pixels tracked after installing Pixel plugin"
After install with woocommerce, I used Facebook Pixel Helper to check my Pixel status.
I see two PageView Pixels are tracked. The one from woocommerce is ok, the other one from page itself failed. Any idea why there are two PageView trackings?
![image](https://user-images.githubusercontent.com/1171418/32064372-f0954756-ba79-11e7-904e-3783327b2f93.png)

[2017-10-26 17:18] mengyingdu commented on #114
Hi,

This description FB box is in WooCommerce product data page like your last screen shot. I also attached another screen shot to help you find this:
![facebook description](https://user-images.githubusercontent.com/24535640/32067159-0e582c06-ba37-11e7-9add-5dee522a4d7c.jpeg)

[2017-10-26 17:22] AndreasMe commented on #114
Hi,
ah ok, Idid not recognize that.

Thank you!!!

[2017-10-26 17:47] mengyingdu commented on #117
Hi,

That is a known pixel issue with the **pixel helper tool**, our pixel helper team is working on fixing it. You don't have to worry about that because the PageView is firing correctly.

[2017-10-26 21:16] cabgfx commented on #106
Hi, I have a similar issue, with the [WooCommerce Composite Products](https://woocommerce.com/products/composite-products/) extension.

The add-on options for our products are used to calculate the price, thus the “base” product isn't priced. Instead, prices are displayed as _From $50_ (handled entirely by the plugin).

Using plugin 1.6.4 + WP 4.8.2 + Woo 3.2.1

What further details can I provide,

[2017-10-27 04:10] #2 closed

[2017-10-27 04:10] #3 closed

[2017-10-27 05:43] sammul commented on #101
Hi

Hello,

Thanks for writing in.

Could you tell us the plugin version you are using?
If you are not using the latest version(1.6.5), can you update and try again?

Thanks

Xia

[2017-10-27 07:02] mengyingdu commented on #105
Hi,

Thanks for flagging this. I will file a task to android team.

[2017-10-27 07:43] sammul commented on #100
Hi

Thanks for letting us know the extension conflict. I'll mark this issue as feature-request and we will try to address in the future versions.

Facebook

[2017-10-27 08:32] nikidani86 opened #118 "Facebook app Bug in Shops (Android)"
Hello, There is a problem with the update of the Facebook app for mobile.  The conection between the Facebook shop and the website is not stable.  Instead of transfering me in the website when i press the Buy button or Shop Now button, facebook crashed or it is displayed "An unexpected error occured".

[2017-10-27 08:58] #117 closed

[2017-10-27 15:57] mengyingdu commented on #118
Hi,

We have noticed this issue now which should be a problem for Android app. I have filed a task internally to fix. Thank you so much. (It still works for IOS)

[2017-10-27 16:10] mengyingdu commented on #111
Hello again,

We received report that Android shop (including other functionality) is broken now so it currently doesn't work for Android.

I will update ASAP once it was fixed.

Thanks for your patience.

[2017-10-27 16:59] mengyingdu commented on #115
We will keep line break as you type in description in new release. Thanks.

[2017-10-27 17:03] mengyingdu commented on #111
Hello again,

We support that plugin user user variant description in next new release.
Thanks for your patience. I'm working on your issues and need time to solve it one by one.

Best,

[2017-10-27 17:16] javismiles commented on #111
Good day, thank you for the update and I understand, no problem and no rush, with the current status it is enough for it to work quite well, and little by little step by step the issues will be fixed i know, thank you for your support

[2017-10-27 18:41] shreyans94 opened #119 "Slows Down Site : Perf Needs Improvement & Async API Call on Update?"
Brings down the complete site for a minute if you try to save a product with lots of variations.

The plugin should push data to facebook asynchronously without impacting the site performance.

https://www.useloom.com/share/ff557d5b04c04b828193edcf519131e0

[2017-10-27 19:15] mengyingdu commented on #116
Hi,

I can help you delete your setting ent in backend. Let's try it and let us know whether it works for sync later.

Just want to confirm: is this one (shown in your screen shot) your site? https://techkiddo.com/

[2017-10-27 19:17] edm0d0n commented on #116
Yes sir this is the website. I want to completely remove the backend settings. What you need?

[2017-10-27 20:39] edm0d0n commented on #116
You need access to my wordpress or something or i cann do it by myself?

[2017-10-27 20:43] mengyingdu commented on #116
Hi,

I delete your setting (as latest record) in backend. Can you  try set-up again?

Thanks.

[2017-10-27 20:50] edm0d0n commented on #116
i am just trying it now. I will update when it finishes.

[2017-10-27 20:57] mengyingdu commented on #116
Please keep admin page open when syncing.

[2017-10-27 20:59] edm0d0n commented on #116
yes i know that sir. i think now everything is synced fine . You know what was causing this annoying problem? the - product sync?

[2017-10-27 21:19] mengyingdu commented on #116
Hi,

Thanks for you confirm that. And I also check log for your site that everything works fine now.
As for the reason of minus value, we put all your new products which are expected in queue to sync, however, for some reason, your woo post return 0, so counting keeps --, the weird minus number show.

Can you try to remember what have you done recently? It may help understand better what kind of m

[2017-10-27 21:24] mengyingdu commented on #116
Which version of Woocommerce are you using now?

[2017-10-27 21:25] edm0d0n commented on #116
I am using 3.1.1 . Do i need to update?

[2017-10-27 21:37] mengyingdu commented on #116
3.1.1 should be fine.
I found that there are 69 products you want to post on 26th but today you post 68. Is that you intentionally delete one?

[2017-10-28 00:49] zeals75 commented on #115
Many thanks!

[2017-10-28 00:49] #115 closed

[2017-10-28 02:22] edm0d0n commented on #116
Yes i deleted one

[2017-10-29 07:45] AnywhereEverywhere commented on #84
I couldn't agree more with you javismiles. I think I am going to have to get rid of it until it is working consistently.

[2017-10-29 14:07] jimmyjinkz commented on #63
Hi - I've deleted my settings, so yes please can you delete on the back end too? Thank you

[2017-10-29 19:55] lauragobrightly opened #120 "Support External/Affiliate Product Purchases + shop UI feature request"
When a customer tries to "buy" an external/affiliate Woocommerce product via Facebook buy button, they get redirected to my website's shopping cart with an error "You cannot add this product to cart."

That's more or less working as functionally intended (since you shouldn't be able to add an external/affiliate product to cart)... but as a feature request, I'd love it if the Facebook Shop tab coul

[2017-10-29 21:02] javismiles commented on #119
I agree, it drives crazy slow my updating process on  wordpress site, totally unusable, this has to be asynchronous

[2017-10-29 21:03] javismiles opened #121 "Updating product slows down website a lot"
Updating any product with your plugin active makes it go so so so so slow,
but so slow that often it crashes with a 500 timeout error,
folks, these tasks should be asynchronous or in any case its crazy that your plugin slows down product updating so so so much

[2017-10-30 12:25] mmtomm commented on #101
Hello,

I updated to 1.6.5 now, but the problem is still the same!

[2017-10-30 12:31] Agiplan opened #122 "Sync problem : Caused by Product Duplication"
Dear All,

I would like to get help with the program. I use the latest version of everything (wordpress, woocommerce and of course facebook for woocommerce plugin too), but the sync does not work correctly.
New products will not appear on my Facebook Shop site, but will display some of them, say archived products, even though the admin interface does not allow the look.
What could be the problem?

[2017-10-30 15:01] yatanasov opened #123 "HTTP ERROR 500 - Desktop version"
Hello,
May I kindly ask you to investigate why my facebook webshop is not working ?
 I haven't made any changes, it just suddenly stopped working. It's not working for 4-5 days now:

https://www.facebook.com/www.dima.bg/shop/?ref=page_internal

Please let me know if I have to provide any additional information.

[2017-10-30 17:26] jwit opened #124 "Out of stock products hidden but still published"
Hidden products are no longer published to Facebook, but when setting "Out of stock visibility" in WooCommerce, Products, Inventory to "Hide out of stock items from the catalog", those items are still published.

![image](https://user-images.githubusercontent.com/1317268/32185438-629024de-bd9f-11e7-94fd-9cfdd5904d25.png)

[2017-10-30 18:46] javismiles commented on #105
Hi
good day
listen , i deleted my store because it was not syncing well,
and now Im trying to sync it again after reinstalling it
and it does not work.
only 8 products sync, the other 72 do not.
And it just cannot be  reset,

really its desperating

[2017-10-30 19:21] mengyingdu commented on #121
Hey @dmitridr, can you take a look at javismiles's issue ? I forward his detailed site information to you.

[2017-10-30 19:24] mengyingdu commented on #105
Hi,

There's some problems when we try to delete your setting at the first time. Do you want to try it again? Since you have problem to sync now, I think it's hurt to try.

Thanks.

[2017-10-30 19:31] mengyingdu commented on #119
Hi @shreyans94 ,

Thanks for your video record. @dmitridr Since we add more support and features for variants, do you think we should improve a product with lots of variations? Or maybe there is some other problem for this site?

Thanks for your patience. Our current support rotation @dmitridr will work on this.

[2017-10-30 19:54] javismiles commented on #105
hey, yes please,
delete my settings and tell me when its done and i try it once again...
thank you..

[2017-10-31 02:43] sean3650 opened #125 "Partial Sync Problem & Buttons Do Nothing after Install: website slows down - v1.8.0 Followup"
hi,
i have around 100 products on my woocommerce website but only 7 products are synced. for fist 4days only 1 product was synced and after like 3 days 6 more products were synced.

if i have to re-sync everything how do i do it? for some reason, Force Product Resync and Re-configure Facebook Settings does not seem clickable on my wordpress backend.

is there a way to disconnected everything and s

[2017-10-31 09:44] javismiles commented on #105
Hi, since the last time I deleted my store I simply cannot manage to sync my products again, I have 80 products, I leave the page open permanently and only 6 or 7 sync........... This is very tiring, please can you please really reset my store so that I can truly begin from zero again, and can you please debug these sync issues...
thanks a lot

[2017-10-31 09:44] javismiles opened #126 "I cannot manage to sync my products again after deleting and recreating store"
deleting this issue

[2017-10-31 09:54] javismiles commented on #126
deleting after solved

[2017-10-31 09:54] #126 closed

[2017-10-31 09:55] javismiles commented on #105
After many tries I think it´s doing sync ok now, let me wait to see if it finishes well now, thanks

[2017-10-31 19:07] dmitridr commented on #12
Since this is just a warning in the console, we have prioritized more critical bugs for now. We haven't forgotten about this issue, however.

In the meantime if anyone has come up with a fix, we're happy to look at pull requests to solve this.

[2017-10-31 19:09] dmitridr commented on #18
Closing as there is unfortunately not much we can do here. I'd reiterate that a lightweight version of this plugin with only `img` tags would probably be the best way to go for site speed, but it would be a huge change and there would be some loss of functionality. Too large of a change for us to consider including for now.

[2017-10-31 19:09] #18 closed

[2017-10-31 20:37] dmitridr commented on #62
Thanks @lsigle for the workaround! Closing this.

[2017-10-31 20:37] #62 closed

[2017-10-31 20:44] dmitridr commented on #63
Did following the reset steps resolve the problem? The backend should automatically be deleted if you deleted your settings using the interface as @mengyingdu suggested.

[2017-10-31 20:53] dmitridr commented on #64
Seems like a very strange issue, I'm not exactly sure what it could be either... a very unique server configuration? Could it be you have a very strict timeout set for the DB connection and it is timing out with our plugin because of the extra DB calls?

I tried a basic search for other versions of this problem, are you using a shared hosting provider? If so it may be a problem with the [heartbeat

[2017-10-31 20:55] dmitridr commented on #71
Please re-open if the update did not fix your issue. Thanks.

[2017-10-31 20:55] #71 closed

[2017-10-31 21:38] dmitridr commented on #74
Hi Again,

You can mark products as not visible on Facebook using the WooCommerce interface for editing products (the option should be available on the individual product edit page and on the all products page).

I'm not sure why only 50 products sync for you. I checked our backend logs for your store, and there's no completion event for the sync, so it seems the sync was not allowed to finish or

[2017-10-31 21:40] dmitridr commented on #77
Closing this, please re-open if you have additional information. We would need additional info to solve this.

[2017-10-31 21:40] #77 closed

[2017-10-31 21:40] HaardengMarketing opened #128 "Wrong Facebook account : How to Remove the existing settings data (page, etc.) from the DB?"
Hi,

I would like to use Facebook for Woocommerce for a Facebook Store. I have an old installation that is linked to a wrong Facebook account. How do I change this, when I do not have access to the account associated with the installation? I have tried to delete the plugin and install again, but it did not help.

Hope you can help.

[2017-10-31 21:43] dmitridr commented on #78
In the current version v1.6.5, we list the default variation first per product, if you have one set. Though the rest are not sorted. So a workaround would be to set the highest price variation as default.

It's not clear to me whether your request is about sorting all products within the shop by price, or sorting all variations within each individual product by price. We would need clarification i

[2017-10-31 21:45] dmitridr commented on #80
Please re-open the issue if upgrading and following the suggestion did not fix your problem!

Also if you really are a time traveler, can we get a copy of our repo from 1 year in the future? I bet we could fix a lot of bugs all at once. :)

[2017-10-31 21:45] #80 closed

[2017-10-31 21:48] dmitridr commented on #81
Closing. Please re-open if upgrading did not fix your problem.

[2017-10-31 21:48] #81 closed

[2017-10-31 22:09] dmitridr commented on #83
Hi Cruz,

Yes it does seem like a memory problem during sync. I'm not sure why it would be using that much memory, we don't see this on our own test servers.

If you have the ability to raise your memory limits, I would try doing so. Memory issues are unfortunately extremely difficult to debug. Since not everyone is experiencing this problem, my guess is that our plugin combined with another plugi

[2017-10-31 22:13] dmitridr commented on #84
Hi Again,

If you tell us your page url we can check our own logs to see if your sync completed.
Generally, if you have many products you will have to keep the FB for WooCommerce settings page open until the product sync completes, which can take a long time.

It could also be related to the memory issue seen in #83 or the issue at the bottom of #74 with partial sync.

I would also recommend check

[2017-10-31 22:24] dmitridr commented on #87
I guess one of those helped? Please re-open if that was not the case. Also potentially related to #74.

[2017-10-31 22:24] #87 closed

[2017-10-31 22:31] dmitridr commented on #88
@scarparoalves

You should add a `case` statement in this switch [here](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/facebook-commerce.php#L994),

`case 'brand':`

That should be enough, though `Disclaimer` I haven't tested this, so try it at your own risk. I'm pretty sure it will work though, that code takes the attributes for size and color and sets them to the produ

[2017-10-31 22:50] dmitridr commented on #91
Hello again,

It looks like the product is syncing in your default language, but the language you are viewing Facebook in is English, is this correct?

If so, the buttons in English should be expected behavior... users who are viewing Facebook in the Bulgarian language should see these buttons in Bulgarian. Users who are viewing Facebook in English should see the Facebook interface in English and

[2017-10-31 22:54] dmitridr commented on #94
Ok, seems like you managed to resolve it then. I agree it's strange, and it's probably related to #75 maybe the product was trashed at one point. I will close this, but please re-open if it happens again.

[2017-10-31 22:54] #94 closed

[2017-10-31 22:56] dmitridr commented on #96
Going to keep this open for now and close when our updated solution is ready (ETA 1-2 months). We're prioritizing more serious bugs for now which do not have any workaround.

[2017-10-31 23:13] dmitridr commented on #98
Hi,

Thanks for your patience. I guess this is the same issue you mentioned in #83? If so I'll close that one and we can continue the discussion here.
My recommendation is as follows:

- Try disabling all other plugins, does the cpu time issue persist?
- Try older versions, you were using v1.6.0 before, did it have the same problem?

Unfortunately I don't have any good answer why the CPU time is b

[2017-10-31 23:13] dmitridr commented on #83
Discussion continued in #98

[2017-10-31 23:13] #83 closed

[2017-10-31 23:18] dmitridr commented on #100
Strange, I wonder what causes the breakage. Are you using 1.6.4?

We had a bug in 1.6.4 that caused other tabs in that section to break, so upgrading to v1.6.5 could potentially fix the compatibility issue.

[2017-10-31 23:28] dmitridr commented on #101
Hello,

If you duplicate a product that has been synced to FB there is definitely a problem, as mentioned in #62 you'd have to reset FB metadata after duplicating. I see you already tried that and the problem is with the first product, which is strange.

One potential workaround is that you could try 'Force Resync' after you are done saving all the products, which could resolve the issue, but coul

[2017-10-31 23:35] dmitridr commented on #103
Hello,

The "Facebook Page" and "Facebook Pixel" are distinct and unrelated objects in our system, but maybe you named them the same which is why the steps are confusing?

It's perfectly fine to use one same pixel on two different websites. However, when advertising be advised that if you are using the same pixel on both sides your traffic and audiences will be created using the all the visitors o

[2017-10-31 23:35] #103 closed

[2017-10-31 23:47] dmitridr commented on #106
@cabgfx

I recommend opening a new issue with us for the specific extension you mention and our support of it.
As for the details:

- Are these products syncing with 0 price or not syncing? (I thought I fixed the 0 price in 1.6.4, if you Force Resync these should be marked invisible and if you reset these should not sync at all.)
- [This](https://github.com/facebookincubator/facebook-for-woocommer

[2017-10-31 23:49] dmitridr commented on #106
Will close this in a few days unless we hear back from @actionculture about whether the fix worked for them or not. From the response in #50 it seems to have worked for some at least.

[2017-10-31 23:56] dmitridr commented on #107
Depending on your plugin version this could potentially be fixed by upgrading to the latest one.
#63 had a similar problem with VAT.

[2017-11-01 00:00] dmitridr commented on #108
Yep, this was a huge problem for us that we fixed in recent versions. Basically we were using the wrong hook for saving settings, so our save settings method was being called whenever any other plugin's settings were saved... and thus any time you would save any other plugin's settings, the settings for Facebook for WooCommerce would be erased.

See #43 and #31 for more discussion. Upgrading fixes

[2017-11-01 00:00] #108 closed

[2017-11-01 00:07] dmitridr commented on #109
Thanks for sharing more details with us, looks like this is a continuation of #98 ?

Can you go into more details about this quota? The plugin makes a heartbeat AJAX call every 5 seconds to make sure there are no products to sync when syncing. If every call is taken against your quota that could be why.

Try changing this value in the plugin via the wordpress plugin editor :
https://github.com/fac

[2017-11-01 00:16] dmitridr commented on #110
Hi @gchterry

There should be a workaround : FB defaults to the last variation in the list as default if no default is set. So if you can make it the last one in the list of variations, it should default to that one on FB.

In the meantime, we will consider adding some sort of 'FB Default' checkbox on the variants. Or allow for no-default on FB shops. Not sure which would be more ideal here.

[2017-11-01 00:26] dmitridr commented on #112
@cyptus
Great idea. Would you be willing to send us a pull request so we can give you credit for it? As you said it's only one line, we can review and test it.

[2017-11-01 00:37] dmitridr commented on #113
Hello,

Thanks for reporting this, 33.33% is definitely a magic number here, because we are always sending exactly 3 ids due to backwards compatibility where only 1 will ever match, for reasons outlined in #93. And it seems this is messing up the analytics that you are seeing.

Following up on my response in #93, it seems it's finally time to remove this backwards compatibility as most people have

[2017-11-01 00:55] dmitridr commented on #116
Hi,

Product sync is unfortunately pretty slow on shared hosting (Mentioned in #98 #83 others). This is gonna take a while to fix, we're gonna need to do a massive perf improvement.

The negative products remaining obviously shouldn't happen, looks like a display error. I think we can fix that based on @mengyingdu 's findings.

I see you're on the plugin v1.6.0, is that right? Consider upgrading t

[2017-11-01 01:10] dmitridr commented on #119
Thanks for flagging this. There's definitely more that we can do perf-wise for the sync to FB.

Can you share with us a screenshot of the product and variant configurations you have set up for this product? or at least tell us the # of variants you're dealing with here? It'll help to be able to set up a perf test on our own test servers.

If you don't have the latest version, I do recommend upgrad

[2017-11-01 01:27] dmitridr commented on #120
Hello,

There's a workaround that you can use to avoid the error when adding to cart. It's outlined in #29. Basically there's already a setting (very hard to find unfortunately) that will allow you to change the behavior of the button. Can you try that and see that works for your case?

That said, your MVP implementation suggestion is good, I think we can implement that pretty easily. I don't thin

[2017-11-01 01:30] dmitridr commented on #121
Agree. Seems like a duplicate of #119. We'll see what we can do about the perf.

[2017-11-01 01:33] dmitridr commented on #122
Hello,

It could depend on how you are adding the new products, if you are adding them through bulk editor, or WP All Import, then these products will not show up unless you do a 'Force Resync'. Could you describe how you add a new product and what kind of product it is? (We do not support some kinds)

As for archived and other supposedly invisible products appearing in the shop, the current worka

[2017-11-01 04:48] Agiplan commented on #122
Dear Dmitri,

Thank you for your answers. I do not use any bulk uploaders. If I already have a product (such as a headphone) I simply duplicate it and edit it all over (name, url, short and long description etc.stb.stb)
My products are simple, everything about mobile music. Headphones, earphones, portable speakers, portable players, DAC, AMP, car hi-fi, earplugs, earmuffs, etc.etc.etc. No extra. L

[2017-11-01 06:28] Agiplan commented on #122
Hi Dmitri,

I think my proplem solved. The source of the error is duplicated by the product. If I cliclk a 'Reset Facebook metadata' the product will appear in the Facebook Shop.
But, some of the products still under processing are already ready. What do you think this?

Reagrds
Zoltan

Feladó: Dmitri Dranishnikov
Elküldve: 2017. november 1., szerda 2:33
Címzett: facebookincubator/facebook-for-woo

[2017-11-01 07:14] cyptus commented on #112
@mengyingdu thank you - but there is no option for setting different images for the product on the website and the facebook image. The filter will give us this and many more opportunities.

@dmitridr do you have naming convensions for filter names or is "facebook_woocommerce_productdata" just fine?

[2017-11-01 08:47] actionculture commented on #106
My issue was resolved after updating the plugin.

[2017-11-01 08:47] #106 closed

[2017-11-01 11:29] Tommielarsson commented on #94
Yes, the product has been trashed at one point in time, but still shows up as "free" on Facebook.

The problem is not resolved, it's still current.

[2017-11-01 12:01] edm0d0n commented on #116
i just updated the plugin. i thought when a new version is out wordpress detects and notifies for the update. I was not notified idk why.

[2017-11-01 14:01] troygolden opened #129 "Getting Started"
I can not get the extension to work. I've tried on several installations and configurations. Nothing works. I can not get to the process where I see the "getting started" button. I get the error message "You must be logged in as an Administrator of a Facebook page to use Facebook for WooCommerce." I am currently logged in to my woocommerce back-end and a Facebook Page that I administer.   There wa

[2017-11-01 16:29] shreyans94 commented on #119
@dmitridr There are about 45 variations in the product.

This one

https://nutrabay.com/product/optimum-nutrition-on-100-whey-gold-standard-2/

[2017-11-01 22:40] shelleyphant opened #130 "Accounts keep unlinking"
Hi,

The plugin keeps repeatedly asking me to complete my configuration. After following all the steps and syncing my products, the next time I log in it again asks me to complete my configuration and the syncing options are removed until I follow the steps again. Any help is appreciated.

Thanks

[2017-11-01 22:45] shadowsand opened #131 "Products sync but images not showing"
The images on the facebook store is not showing up despite a force resync on my wordpress store. Only the description and titles are correctly sync. However, no images were push to my facebook page shop. I am on facebook for woocommerce v1.6.5 and woocommerce v3.1.2

<img width="1118" alt="screen shot 2017-11-02 at 6 40 25 am" src="https://user-images.githubusercontent.com/33298458/32301525-3960fe

[2017-11-01 23:47] bstrokevin opened #132 "Compatibility Issue : Support Bundles Extension"
Product Facebook Description is blank after saving product bundles.

<img width="812" alt="screen shot 2017-11-02 at 7 30 56 am" src="https://user-images.githubusercontent.com/13989077/32303183-fa00efac-bfa1-11e7-8ec0-18b02150a471.png">

[2017-11-02 06:54] metuza opened #133 "Facebook ads redirects to 404"
Hello..

I just found that all my facebook ads setup using the product catalog redirects to 404. When i check the product url in the ads all url has this ending after the orginal url: /commerce/products/1596694877021707/

Any idea?

Thanks

[2017-11-02 06:55] metuza commented on #113
Thanks.. Testing this now.

[2017-11-02 15:44] Copterview opened #134 "Products are synced and visible in inventory but do not appear in shop"
No matter how ofter I repeat, with private of business account, new pixels or old ones, since I deleted the upload once, it never show the option to push the synced products into the shop. Also there is no info how to move products from inventory to shop either.
The tick box shown in video, show products in shop, does not appear in the 1.6.5

[2017-11-02 15:59] dmitridr commented on #133
Hello,

That's not good, can you give us an id of the ad campaign/ad set/ad that you are running?
I checked your product catalog and the url is correct, so it must be an issue with our ads system.

[2017-11-02 16:04] dmitridr commented on #130
Hello,

Please upgrade to the latest version v1.6.5, which is available either in the official WooCommerce site or on our releases page. This was a problem that we fixed in v1.6.1. ( See #43 )

[2017-11-02 16:11] metuza commented on #133
Thats for sure. just added som info to the 404 page as i see many visitors gets there at the moment. Here is from my 2 ads campaigns. Both of them have the ending added to url.

1. selected_campaign_ids=6081411132883&selected_adset_ids=6081411134083
2. selected_campaign_ids=6074385035083

I hope you find a solution :)

Thanks

[2017-11-02 17:41] Mapteg34 commented on #112
@cyptus, thank, but we need this func too.
we have problem with uploaded images (it must be 600x600px), we add_image_size, add custom crop script, but nothing mechanism in this plugin to set our new image instead of defaut.
This filter resolve our problem, and lot of another.

[2017-11-02 17:56] outerbridge commented on #100
Hi

I'm using v1.6.5 and the products are now available for the bundle but each time one is put in the bundle, it appears 6 times!  Deleting 5 of them and then saving brings all 6 back, which obviously isn't a workable position!!!

Many thanks
Mike

[2017-11-02 18:12] dmitridr commented on #133
Confirmed : It's a problem within our ads system. We are fixing this ASAP, expect the behavior to be fixed within 48 hours.

[2017-11-02 22:30] dmitridr commented on #129
Hi Troy,

Could you please upgrade to the latest version v1.6.5, if you have not already? We had a similar problem in older versions that occurred if you reset your FB password (bizzare, I know).

If the problem persists after upgrading, could you also share with us a screenshot of what you are seeing and where you are seeing it?

[2017-11-02 22:38] dmitridr commented on #124
Hello,

Thanks for flagging this!
You could try the workaround in #37 to deal with this temporarily. (#20 also mentions this request)

Not syncing Out of stock is a bit tricky to solve for this plugin. We could look at the setting in your screenshot and not sync out of stock products in the initial sync, that would be an easy fix, however there's a problem : we'll have an issue if some product bec

[2017-11-02 22:40] dmitridr commented on #124
I'm thinking we could provide an advanced option, 'only sync products that are in stock' for users that want this feature. But it will still suffer from the problem mentioned above, if products can go from `out of stock` to `in stock` then we'll need a more advanced solution.

[2017-11-02 23:02] dmitridr commented on #123
Hello,

Thank you for writing in. That's very strange, I will forward this issue to our shops team to see if there is any change during that time period that could be responsible.

In the meantime I can only give some suggestions for a workaround:
- I noticed you have v1.4.3, you could try upgrading to v1.6.5 and doing a force-resync.
- You have a lot of products when variations are included, I no

[2017-11-02 23:16] dmitridr commented on #125
Hello,

Thanks for writing in, it seems like you have multiple problems, we'll try to help you out.
First off, I recommend upgrading to v1.6.5, then trying the steps below:

- Deactivate all extensions except FB for Woo and Woo. (Temporarily!)
- Try the Force Resync button again, hopefully it works this time. If it doesn't...
- Try the reconfigure buttons again. Does it work? If so, 'Reconfigure'

[2017-11-02 23:20] dmitridr commented on #128
Hello,

Thanks for writing in. I think we have a resolution for you, though it's a bit hacky.
You basically need to wipe the info from the current installation from the Wordpress DB, this can be done manually by accessing the DB, but we have luckily built a JS function that you should be able to call from the JS console to do it. Here are the steps:

1. Navigate to the Facebook for WooCommerce set

[2017-11-02 23:32] dmitridr commented on #131
Hello,

Thank you for reporting this and telling us your version. I checked some sample products, it seems the image urls we upload to FB are linking to a 404 page.

Here's a sample image url I pulled:
https://www.trendtycoon.com/wp-content/uploads/2017/10/magic-toy-crane.png

Could you tell us the correct image URL that this should be?
Also, do you have an extension that you are using that affect

[2017-11-02 23:42] dmitridr commented on #132
Hello,

Thanks for flagging this.
I couldn't find the option to do this on our test servers. Is this an extension?

This one?
https://woocommerce.com/products/product-bundles/

Could you also confirm you are using one of the latest versions v1.6.5?
I'll mark this as a feature request to support this extension if that is the case.

[2017-11-02 23:46] dmitridr commented on #134
Hello,

Thanks for writing in. It would help to have a link to the video you are referring to, or a screenshot of what you see with an arrow pointing to the missing element.

Assuming you are talking about the shops option, it may be the case that you or your page are blacklisted from using shops, in this case the tick box (we call it a slider) to move items into the shop is not shown. This can ha

[2017-11-02 23:55] dmitridr commented on #133
A new version of Facebook was just pushed with the fix. I verified on the ads you gave that the behavior is fine now.

Impact:
The issue happened from Nov 1st, 1:30am PST to the present time, so about 1.5 days. It seems only simple products were affected. Pretty huge issue however, thanks @metuza, if not for your quick report it would have taken us much longer to notice the problem.

[2017-11-02 23:55] #133 closed

[2017-11-03 00:50] bstrokevin commented on #132
Yes, we are using https://woocommerce.com/products/product-bundles/ <https://woocommerce.com/products/product-bundles/>
and 1.6.4
kevin

[2017-11-03 01:05] sean3650 commented on #125
Hi

I am using v1.6.5 at the moment.

i found the problem actually. when i update the products the website slows down too much where sometimes it crashes my server.

is there a fix to this as well?

Thank you so much for your reply

best regards

[2017-11-03 05:08] jcnieves opened #136 "Products are shown on the Facebook backend but not on the Shop section of Store"
Hi,

I've run the setup several times but the products are only added to the backend of the facebook fan page, not the shop section.
The slider to create a catalog on the "Your Products" step is not showing at all. I've done the Reset under Advanced Section several times, removed the catalog from facebook and the collection but the slider is not shown when trying to run the setup again, it seems t

[2017-11-03 08:18] Copterview commented on #134
Dear Dimitri,

Thanks for your response.
I am in Germany and my page (privately managed) does have an shop. It is simply empty. When I activate the tool it syncs the products and I can click the link to check if the upload worked.

I am happy to send a screenshot, but I have no idea what to show.

Here is my Facebook page
http://prntscr.com/h5lx6o <http://prntscr.com/h5lx6o>
The only product is ad

[2017-11-03 08:43] HaardengMarketing commented on #128
Hi Dmitri,

Thank you very much! It worked perfectly

Mvh.

Mathias Larsen

Telefon: 26700377

Arnold Nielsens Boulevard 72

2650 Hvidovre

www.online-marketing.dk

Fra: Dmitri Dranishnikov <notifications@github.com>
Svar til: facebookincubator/facebook-for-woocommerce <reply@reply.github.com>
Dato: fredag den 3. november 2017 kl. 00.20
Til: facebookincubator/facebook-for-woocommerce <facebook-for

[2017-11-03 13:51] troygolden commented on #129
Ok. Will give it a try.  Thanks!

[2017-11-03 16:32] justinrains opened #137 "FB button to go to product page?"
Is it possible for the button on facebook to go to the product page instead of add to cart page? I'm running an affiliate store.

Thanks,
Justin

[2017-11-03 17:45] sam327 opened #138 "Documentation / limits on product configurations?"
I've got products that are showing up in the business manager catalog, but not showing up in the page's "Shop" tab. And I don't really know where to begin debugging w/ the plugin.

Is there (or could there be) any documentation on the limits of what we can put in? For example, we've got products that have a spot to add a custom engraving - and it doesn't look like FB likes that. Or, if your produc

[2017-11-03 18:20] mengyingdu commented on #114
Duplicate of #111

[2017-11-03 18:20] #111 closed

[2017-11-03 23:02] metuza commented on #113
Ok, it seems like it works just great now as i today have match rate 100%

Thanks..

[2017-11-03 23:40] urbanoantunes commented on #136
Same problem here :(

[2017-11-04 02:10] sean3650 opened #139 "rearranging the product position based on categories"
hi
is there a way to rearrange products and acutally put them in a category on facebook shop?

[2017-11-04 02:19] jcnieves commented on #134
Im having this same problem also and created a new issue for this but seems it is common.
Is there a way to fix this? I have removed the store, the collections, re added the pixels too, recyncd but nothing, what is happening on the facebook side that is not allowing this?
Thanks.

[2017-11-04 02:27] sean3650 opened #140 "Crop/resize product image size on facebook shop"
hi
is there a fix to resizing the product image?
https://www.facebook.com/lensgogo/
this is my facebook page, if you go to shop the image is  not shown the right way

[2017-11-05 04:17] shadowsand commented on #131
Thanks for responding, it seems like the cause of the image unavailability is due to cpanel hotlink protection which I have installed.

That said I tried to disable hotlink protection and resync the shop but the images are still not showing up. Any suggestions why this is happening?

I am using any ezusy.com chrome extension to fetch some images, but all these were pulled and uploaded to my wordpr

[2017-11-05 17:32] metuza opened #141 "Delete products from catalog & shop: Incompatibility with Advanced Bulk Edit plugin"
I have a while ago deleted some products from my webshop and these products still appear in FB shop, catalog and ads. Is it possible somehow to delete these products without re-setting the entire catalog?

I have done several forced product syncs with no luck, the products still appear in ads.

Thanks

[2017-11-06 10:51] metuza commented on #137
Hi there... Yes, i just figured it out :) Just go to your FB site settings then click the shop menu down to the left and you will see an option "Use Checkout Urls", then just disable this and button will go to single product page.

[2017-11-06 10:59] micb11 commented on #107
I upgraded to the latest plugin and did a force resync now it says it is resyncing 421 products but there are only 4 showing on the facebook site. I t has been doing it for a few hours now?

[2017-11-06 18:54] edm0d0n opened #142 "Changed business account password make the plugin needs configuration from the beginning"
Hello. I changed the business account password on fb because facebook security told someone login using my old password. Then there was a plugin error and i configured from the beggining. The problem is now that it made a need product catalog and when i tried to make two new dynamic caroussel product ads one for add to cart and one for view content then it shows me that the audience is low. Before

[2017-11-06 19:36] carcarefreaks commented on #130
Is there any way to reconnect without doing a resetup/resync? Doing so will remove all product links on facebook.

[2017-11-06 20:15] dmitridr commented on #130
Unfortunately not, because the API key is gone from your woo DB, and we don't store that on our side for security reasons, you'll need to resync in order to regenerate that. Once the solution mentioned in #96 is implemented, it may become possible to reconnect without doing a resetup, but that won't be for some time.

[2017-11-06 22:23] tahoff commented on #142
Hello @edm0d0n, unless you selected a different pixel during setup, the pixel data should be the same even after reinstalling.

Did you try creating a dynamic product ad before the password change? If so, did you see the limited audience issue at that time? What is your website's URL?

[2017-11-06 22:28] tahoff commented on #141
Hello @metuza, thanks for flagging. This looks like the same issue reported in #75, unfortunately it's still unresolved.

[2017-11-06 22:43] tahoff commented on #140
It looks like this issue has been encountered with the Shopify integration as well. At the moment, there isn't a way to change the cropping in the Facebook shop, although you can change the way the images appear in ads if you go to https://www.facebook.com/products/catalogs/ and go to the settings tab of your catalog.

[2017-11-06 22:47] tahoff commented on #139
Unfortunately this isn't done automatically. But you can manually create Collections in the FB shop or product sets for your catalog if you want to use the set in ads. @dmitridr specified the help articles to do those things in #34.

[2017-11-06 23:00] tahoff commented on #137
@metuza is correct, that's the way to change the urls.

[2017-11-06 23:00] #137 closed

[2017-11-06 23:06] tahoff commented on #138
Can you give me a bit more information about your current setup? Specifically, which version are you using (you can update to 1.6.5 if you're not using it?)? What is your shop url? Is there anything specific about the products which aren't appearing (are they hidden, out of stock, or have some other commonality)?

[2017-11-06 23:14] tahoff commented on #136
@jcnieves If I go to https://www.facebook.com/pg/HauteBoutique/shop/ the shop has 24 products. Do you still see the issue? Sometimes it takes a little while for the products to appear in the shop section.

[2017-11-06 23:37] whatevs-already commented on #140
The link you shared is broken or has been removed: https://www.facebook.com/products/catalogs/

I'm also having an issue with product image sizes, slightly different. The product images on an iPad are absolutely huge. They are resized on desktop, huge on iPad, and the shop won't even load on iPhone 7. It's an older iPad on iOS 10.3.3 but successfully running the latest version of Facebook app. Scr

[2017-11-06 23:42] whatevs-already opened #143 "Product images sizes in iPad app"
I'm having an issue with product image sizes on iPad, they are huge and don't fill the screen.

Images are properly resized on desktop, huge on iPad, and the entire shop won't even load on iPhone 7.

I'm using an older iPad on iOS 10.3.3 but successfully running the latest version of Facebook app.

Screenshot: https://snag.gy/0hFndM.jpg -- that's actually a square image of a pillow, but this is wh

[2017-11-07 00:41] shelleyphant commented on #130
I've upgraded and it's all working again. Why doesn't this plugin auto-update? I had no way of knowing there was a serious issue until I stumbled on it by accident.

[2017-11-07 09:42] micb11 commented on #134
I also have the same problem. For some reason it is showing 6 out of 421 products. If i update a product manually in woocommerce it eventually will appear in the facebook shop. But i do not want to manually sync 421 products

[2017-11-07 12:23] edm0d0n commented on #142
I am sure i selected the same pixel. The site is techkiddo.com . I had dynamic products ads running before the password change and after i reset the plugin it showed some error product catalog not found. after i made a new catalog the estimated audience from 2k went to estimated audience unavailable.

[2017-11-07 16:56] urbanoantunes commented on #136
Same thing happened to me. I had to run the configuration again and now it's working.

[2017-11-07 20:21] dmitridr commented on #134
Hi @Copterview unfortunately I checked our internal blacklist, and it seems that your page had been blacklisted by our shops team at some past point in time, I am not sure why. I've whitelisted your page since you clearly have a self-serve shop already.

Please try to go through setup again, be sure to set the shop selector to 'on' on the final step before hitting finish. You should see a warning

[2017-11-07 20:22] dmitridr commented on #134
@jcnieves @micb11 Sounds like a completely different problem. This problem was one of the shop not even appearing at all or even being an option, due to our blacklist. Let's move the discussion of your problem into the other issue you that one of you mentioned.

[2017-11-07 20:26] jcnieves commented on #134
Mine works fine now. Thanks.

[2017-11-07 20:28] dmitridr commented on #136
From the comment in #134 , looks like this was resolved.

If the slider doesn't show, it's usually because of the blacklist. If the slider does show, but the products do not appear for a while, it's due to review.

[2017-11-07 20:28] #136 closed

[2017-11-07 20:30] jcnieves commented on #136
Working fine now Tahoff thanks.
Products need to have valid descriptions (short and long) skus, price, image, not duplicated. All this valid on ALL products or this will not work.

Thanks for the help!

[2017-11-07 20:35] dmitridr commented on #141
@metuza Thanks again for reaching out to us with these issues. Can you go into details and give us specific steps about how you deleted these products so that we can reproduce the problem? If I delete products individually on our test servers these are deleted from our test shop, so we cannot currently reproduce the problem.

[2017-11-07 20:45] metuza commented on #141
Hello @dmitridr - I guess that this actually is not a issue, i am just missing an option in the catalog OR the shop to delete products ;) .. I know from earlier if i manually added products to the FB shop then i was also able to delete them.

My problem is most probably that i have forgot to delete these products from FB in the product editor of WooCommerce before i deleted them from my webshop. I

[2017-11-07 21:48] dmitridr commented on #141
I see, thanks for the clarification. Could you explain more about how you deleted it from your webshop without using the WooCommerce product editor? is there some other deletion area our plugin should hook into?

Yes, unfortunately the only full workaround is to reset.
For ads specifically there could be a partial workaround, by excluding those manually from any product sets you are using to adver

[2017-11-07 22:55] dmitridr commented on #130
Glad you got it working. We're not sure how to enable that for our plugin, if you have any suggestions on how best to do that we're all ears, if not we'll look into that in the future!

[2017-11-07 22:55] #130 closed

[2017-11-07 23:00] dmitridr commented on #122
Hi Zoltan,

Glad your problem is solved. Looks like this was related to #101 with the duplication problem you mentioned. I'm not sure what you mean about the products under processing. If you could send us a screenshot (or post it in the GitHub issue) of the weird behavior you are seeing perhaps we can explain what's going on.

[2017-11-07 23:09] tahoff commented on #143
@whatevs-already thanks for flagging this issue. Are you using the latest version of Facebook for WooCommerce (1.6.5)? If not, please try updating because the product image should be variation specific. Additionally, can you send the url of the product from the attached screenshot?

[2017-11-07 23:09] dmitridr commented on #84
Hi,

I see what you describe in our logs, looks like the sync started but never finished, most likely the PHP background process was killed somehow during sync. Unfortunately we don't know any more about the cause, we would need to see your PHP error logs in order to try to determine that.

Here are some more things you can try:
- Upgrade to our new version v1.6.5, try a full reset of the integrat

[2017-11-07 23:28] tahoff commented on #142
It looks like the pixel on your site is from Pixel Your Site, rather than our extension. Did you uninstall ours? Your pixel does have View Content events, but they're not associated with your catalog because a pixel from our extension isn't currently on your site.

[2017-11-07 23:31] tahoff commented on #140
The link must have changed, it's now: https://www.facebook.com/products/.

[2017-11-08 01:19] dmitridr commented on #138
Sounds related to #134. If you give us a page ID we can check if you were blacklisted by the shops team.

[2017-11-08 02:23] edm0d0n commented on #142
I have them both facebook for woocommerce and pixelyoursite pro. There is an option in pixelyoursite that says Use Facebook for WooCommerce extension content_id logic i have this checked and used to work fine. Are you sure the catalog is not associated with the pixel? I use pixelyoursite as i use an option to woocommerce that when someone adds product to the cart it autodirects to the cart page an

[2017-11-08 04:51] Agiplan commented on #122
Dear dmitridr,

Look at some pictures:
1. [apparently everything is fine](https://user-images.githubusercontent.com/10388693/32532069-e78c235a-c447-11e7-9f0e-c917fb108914.jpg)
2. [but, the product is being processed](https://user-images.githubusercontent.com/10388693/32532095-22b297b6-c448-11e7-943f-cc37a59de469.jpg)
3. [while the product works on my site](https://user-images.githubusercontent.com

[2017-11-08 08:47] ParisAnas opened #144 "Dublicated Products and currency"
Hello,

our products have translation (english and greek) and they appear dublicated (mirrored) on fb shop one with english title and the same with greek title next to each other.

furthemore the product in Greek has the value in Euro but USD currency mark and the same happens to the English titled product.

How can i have one ID per product and also the currency and value corrected please?

thank

[2017-11-08 09:49] Copterview commented on #134
@dmitridr I used your jscript deletion tweak, reconfigured, re-installed the plugin and started all over, but unfortunately I can never reach the screen to set the shop selector. Is there a tipp how to reset the plugin, so that the shop selector appears again?
Don't get me wrong, all steps of the setup are ok, simply the shop selector does not appear anymore.

[2017-11-08 15:18] frisonl commented on #30
Hope support comes. There are many shops out there using qtranslate. It works really nicely in woocommerce, only not for facebook woocommerce. Anyway. Thanks sofar for what works already.

[2017-11-08 15:28] petecharles80 opened #145 "Product Addons For Shop Products"
Hi, Great Plugin!!
I'm using the Woocommerce Product Add-Ons Plugin and noticed that when a customer clicks 'Check Out On Website' on the Facebook Shop product, it directs them to the checkout where there's an error message as they haven't filled in the personalised add-on fields. Are there plans to integrate this add-ons functionality directly within the Facebook Shop Products? I've noticed that

[2017-11-08 16:42] metuza commented on #141
Well most probably i have just moved the product to the trash from the product overview/listing page, then it has been deleted on my weekly DB clean-up. Sometimes i have also used the WooCommerce Advanced Bulk Edit plugin bought at Envato market.

But now i do delete the product from FB when product opened up in product editor - then i delete the product :) Seems to work great..

[2017-11-08 18:19] dmitridr commented on #30
@frisonl We're always willing to review pull requests for this kind of support. Please consider sending us one! We've done some ground work for it in this issue already, so I think a simple change to detect the existence of the qTranslate plugin and then applying the solution described in this issue could work.

[2017-11-08 18:38] dmitridr commented on #57
Hey Again,

Just a heads up : You may want to try v1.6.6. @citymont added a fix which could have solved the conflict with the A2 optimized plugin.

[2017-11-08 18:42] dmitridr commented on #112
Thanks @cyptus and @Mapteg34 for the pull request! This change is live in [v1.6.6](https://github.com/facebookincubator/facebook-for-woocommerce/releases). WooCommerce should have the version on their site in around a week's time.

[2017-11-08 18:42] #112 closed

[2017-11-08 23:45] mengyingdu commented on #121
duplicate of #119

[2017-11-08 23:54] mengyingdu commented on #116
Hi,

v1.6.6[https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.6.6]     is out, and fixes the minus remaining counting issue. As explained by @dmitridr , it's caused by race condition. Can you try upgrade to new version?

As for your question:
Facebook-for-Woocommerce is built on Woo, so currently Wordpress won't directly detect new version. We are consider other approac

[2017-11-08 23:55] mengyingdu commented on #116
Hi,

[v1.6.6](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.6.6) is out, and fixes the minus remaining counting issue. As explained by @dmitridr , it's caused by race condition. Can you try upgrade to new version?

As for your question:
Facebook-for-Woocommerce is built on Woo, so currently Wordpress won't directly detect new version. We are consider other approach

[2017-11-08 23:55] #116 closed

[2017-11-08 23:56] #105 closed

[2017-11-08 23:58] mengyingdu commented on #104
[v1.6.6](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.6.6) is out, and fixes race condition and support more features.

[2017-11-08 23:58] #104 closed

[2017-11-09 00:10] mengyingdu commented on #115
[v1.6.6](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.6.6) is out and supports line breaks. Can you upgrade?

[2017-11-09 05:44] zeals75 commented on #115
v1.6.6 works fine! Many thanks :)

[2017-11-09 09:40] tombellord commented on #69
Dmitri

Our Facebook feed from woo commerce is again showing with problems.

As you will see from the screenshot below our “Stilettos” artwork is showing on our FB page as a frame (which is the supporting image in our store).

To help clarify I also send you the image of the stilettos product in our store.

https://www.camillabellordinteriors.com/product/stilettos-limited-edition-print/

Please do

[2017-11-09 09:43] thierrymaasdam commented on #141
Can confirm this issue as well. Got complaints from two clients as well.

[2017-11-09 15:46] sam327 commented on #138
Can I email one of you store info? I'd rather not put client out here on github...

I just converted the site's FB page to the business manager, a couple days before posting this. I've installed 1.6.5 of the FB plugin. (Note: If you click through after creating a pixel, the download that FB gives you is 1.6.0)

I have zero products in my shop page - and when a user tries to go to the shop page, we

[2017-11-09 16:03] #138 closed

[2017-11-09 21:54] tahoff commented on #142
The catalog was associated, but for some reason the pixel fires weren't matching initially. It looks like the events (View Content, Add to Cart, and Purchase) are now attributed to your catalog. It's possible there was a delay on our end, unless you made an update on your website. Closing the issue for now.

[2017-11-09 21:54] #142 closed

[2017-11-09 23:30] tahoff commented on #145
@petecharles80, thanks for raising this issue. We are not currently building a fix for this issue, bu

We have a known issue with certain other plugins or variations cause incorrect add-to-cart behavior with respect to shops, there's a workaround you can do by sending users to the product page instead of the add to cart page. It's described in #4.

[2017-11-10 01:22] mengyingdu commented on #91
Hello,

We will only show 'any' rather than the weird combination language for this case in next new version. Thanks for pointing out this.

More context about the language:
1. FB language: it's default by user(viewer)'s on this page
2.Your language: in 'attribute name' eg. color, size, etc. Currently, Facebook will use your attribute name directly from your naming in WooCommerce.
3. 'Any' in Engl

[2017-11-10 03:13] dmitridr commented on #118
Seems like the shops team fixed the issue for on the latest version of the app, I tested a random woo shop and it works for me now. @nikidani86 can you confirm that the problem has gone away?

[2017-11-10 03:31] tahoff commented on #144
Thanks for reporting this issue @ParisAnas. Can you give me some URLs for which the price is incorrect?

[2017-11-10 06:07] ParisAnas commented on #144
Hello Adam,

Here you can she our FB shop: https://www.facebook.com/pg/House-of-%CE%9A%CE%A5%CE%94%CE%9F%CE%A3-444752315547199/shop/?ref=page_internal

And here are e-shop: http://kydos.gr/store/

Try any products (btw some have been processing for many days now) and you will see that on FB shop they are:

a)      Dublicated

b)      The euro price is there are a figure but with the USD currency s

[2017-11-10 09:19] LyonBeton opened #146 "PHP Fatal error: Uncaught Error: Call to a member function get_sku() on boolean"
Hello,

I use this plugin for some times now and I've noticed that my website wasn't responding 5 minutes per day since a couple of week.
I checked my server logs and found this:
 `PHP Fatal error:  Uncaught Error: Call to a member function get_sku() on boolean in /home/clients/lyonbeton/prod/lyon_beton/wp-content/plugins/facebook-for-woocommerce/includes/fbutils.php:86
Stack trace:
#0 /home/clien

[2017-11-10 15:00] tahoff commented on #131
Hey @shadowsand, it looks like the images on your shop are appearing now. It looks like the usage of cPanel hotlink protection does have a conflict with usage in Facebook ads/shops. If you're looking to reenable the hotlink protection for your site, it looks like you can selectively allow access to our crawler. For more info about Facebook's crawler, you can go here: https://developers.facebook.co

[2017-11-10 15:00] #131 closed

[2017-11-10 15:07] tahoff commented on #146
Thanks for flagging this issue @LyonBeton, can you confirm that you're using the latest version of Facebook for WooCommerce (version 1.6.6). If this issue still exists in version 1.6.6, can you send your website url and perhaps more information about the products that this error occurs on (perhaps it only happens for a subset of your products)?

[2017-11-10 15:17] tahoff commented on #144
Thanks @ParisAnas. Which extension are you using to support the products in multiple languages?

[2017-11-10 15:47] LyonBeton commented on #146
Hello,
thank you for your fast answer.
It seems that I'm using the 1.4.2 version.
I didn't noticed it because I didnet see any alert message in WP admin to
tell me that an update was available.
Sorry for having bothered you. I will download and install the last version
and keep an eye on my logs after that.
thanks.

Le ven. 10 nov. 2017 à 16:07, Adam Hoff <notifications@github.com> a écrit :

--
F

[2017-11-10 16:00] tahoff commented on #146
Glad to help. I'll close this issue for now, and you can reopen it if the issue still occurs.

[2017-11-10 16:00] #146 closed

[2017-11-10 16:44] 517Design opened #147 "Variations set to "Any" not showing in Facebook Shop"
Hi,
I have a product with 5 attributes. I have 3 variations for this product. In woocommerce the values of variations 1,2,3 & 5  are set to "Any..." and the 4th value is set to a specific value. (see screenshot)

<img width="1525" alt="screen shot 2017-11-10 at 11 34 30 am" src="https://user-images.githubusercontent.com/898599/32668708-53611bb0-c60c-11e7-9dab-7d940c8fc1ba.png">

The product is syn

[2017-11-10 20:18] tahoff commented on #147
Hey @517Design, thanks for reporting this issue. Can you confirm that you're using the latest version of Facebook for WooCommerce (1.6.6)? If you're using the latest version, and you've resynced your products after upgrading, can you send us your website URL, and any specific plugins to support your product variations?

[2017-11-10 20:31] tahoff commented on #134
@Copterview, are you still experiencing an issue? It looks like the shop might have been disabled on your end.

[2017-11-10 20:31] tahoff commented on #129
@troygolden, are you still experiencing this issue?

[2017-11-10 20:32] #128 closed

[2017-11-10 21:03] Grijnss opened #148 "Product add-on not showin in Facebookshop"

[2017-11-10 21:04] troygolden commented on #129
oh. im sorry. we decided to manually upload the feed.   We did not try the
fix.

On Fri, Nov 10, 2017 at 3:31 PM, Adam Hoff <notifications@github.com> wrote:

[2017-11-12 19:17] tobiasfeistmantl commented on #119
Have the very same problem. I have variable products with 100s of variations. The complete site is unreachable for a few minutes. And without a swapfile it even fills up the complete RAM und then everything crashes. This is a big problem!

[2017-11-13 03:08] Respsl15 opened #149 "Doubles Products at Checkout"
Greetings All.

Not sure if this issue has come up for anyone else here yet, but when I add multiple products from my facebook shop and checkout via website then it adds one to the previous product placed in cart (i.e., I select 1-mug, it gets added to the cart. I go back and select 1-shirt, and when I go back to the cart on my website it has added one to my mug (making it 2)). This goes on and on

[2017-11-13 07:23] rirgang opened #150 "Compatibility Issue : Problem with Flex Slider"
When update to latest version 1.6.6 it causes conflict with the flex slider plugin. Only the second image is uploaded into the store's products at woocommerce.

Disabling the facebbok plugin is back to normal.

This problem did not occur in the previous version.

[2017-11-13 07:25] rirgang commented on #150
One suggestion, I do not know if this is the place but it would be interesting to let you choose the images that you want to synchronize during the setup, since facebook leaves everything square it does not make sense to load 4 images.

[2017-11-13 08:49] ParisAnas commented on #144
WPML

p

From: Adam Hoff [mailto:notifications@github.com]
Sent: Friday, November 10, 2017 5:18 PM
To: facebookincubator/facebook-for-woocommerce
Cc: ParisAnas; Mention
Subject: Re: [facebookincubator/facebook-for-woocommerce] Dublicated Products and currency (#144)

Thanks @ParisAnas <https://github.com/parisanas> . Which extension are you using to support the products in multiple languages?

—
Y

[2017-11-13 18:03] rirgang opened #151 "Same Description for all Variations + Bulk Edit Plugin"
Other Problem

All variations are displaying the same product description. In my case I inform the size in the description and when selecting any of the variations the size is always the same.

He seems to pick up and fix the first variation processed.

Att
Rudimar

[2017-11-13 20:43] dmitridr commented on #129
Closing the issue. Feel free to re-open if you try the fix and are still having the problem.

[2017-11-13 20:43] #129 closed

[2017-11-14 15:28] lvl99 opened #152 "Why does Facebook for WooCommerce not like WP_DEBUG?"
I'm developing my site on localhost and require the usage of WP_DEBUG to ensure no errors are present (or to track down what errors are) and Facebook for WooCommerce is [ucking with my shi](https://www.youtube.com/watch?v=Bqxnm6t3QMw).

Namely, I'm trying to create a filter to prevent translated products with WPML syncing with FB. In order to test my filter I'm attempting to debug the sync process

[2017-11-14 15:56] tahoff commented on #144
Thanks for the additional information. It seems that there's an incompatibility between our plugin and WPML. Multiple currencies may also present a challenge because Facebook Shops don't currently support multiple currencies.

[2017-11-14 16:29] tahoff commented on #149
@Respsl15, thanks for reporting this issue. Unfortunately, I'm not able to reproduce this issue. Can you send us your store's URL?

Additionally, can you verify that you're using the latest version of Facebook for WooCommerce (1.6.6)?

[2017-11-14 16:30] tahoff commented on #147
Closing this issue, please reopen if this continues to be an issue for you on version 1.6.6.

[2017-11-14 16:30] #147 closed

[2017-11-14 17:33] 517Design commented on #147
Hi Sorry for the late response. I was just in the process of updating when you closed the thread.

I have updated to 1.6.6 and I am still getting an issue but it is a little different. Now Facebook is showing the products like this:
<img width="438" alt="screen shot 2017-11-14 at 12 20 04 pm" src="https://user-images.githubusercontent.com/898599/32794253-4e6d08b2-c936-11e7-9a68-7fac21d0ded9.png">

[2017-11-14 17:39] lvl99 opened #153 "Clicking "hide" on product keeps moving me to top of page"
If I can't programmatically set products to hide using the filters, then I have to one-by-one click "hide" on all my French language versions of products. When I click the "Hide" button, it moves me to the top of the page.

Ideally I'd also appreciate some kind of bulk method to do this, by selecting multiple products, selecting the bulk action "edit" and then selecting "Hide from Facebook" before

[2017-11-14 17:41] 517Design commented on #147
Hi Sorry for the late response. I was just in the process of updating when you closed the thread.

I have updated to 1.6.6 and I am still getting an issue but it is a little different. Now Facebook is showing the products like this:
[screen shot 2017-11-14 at 12 20 04 pm]<https://user-images.githubusercontent.com/898599/32794253-4e6d08b2-c936-11e7-9a68-7fac21d0ded9.png>

In the example above the c

[2017-11-15 02:42] sammul commented on #150
Hi, thanks for reporting the issue, can you tell us what version were you on previously so that we can check what have been changed?
Thanks

[2017-11-15 02:45] sammul commented on #149
Hi, thanks for reporting the issue. Can you share some urls where we can repro the issue? And please tell us know which version are you on? Make sure you update the extension to the latest version if possible. Thanks

[2017-11-15 02:50] sammul commented on #151
Hi Rudimar, are you talking about the products imported to Facebook side?
I assume you are already on the latest version of the plugin as you said in other issue reporting.
Can you share us your Facebook page url or pixel id so that we can look at your product catalog?
Can you also share with us a screenshot on your side so that we can try to repro this?
Thanks

[2017-11-15 03:30] Respsl15 commented on #149
Greetings All.

Unfortunately, the site we were working on with the Facebook for
WooCommerce no longer has it on there. I had to switch to another extension
that fulfilled this need. Thank you for looking into it though.

On Tue, Nov 14, 2017 at 9:45 PM, Xia W <notifications@github.com> wrote:

[2017-11-15 08:15] Copterview commented on #134
Yes, it is a nightmare. Product are now in my shop on the management site. But the shop does not appear in the visitors view and since ten day most product show processing.

I din’t disable the shop. Shop button is on in templates. There is no other way as I know to manage the shops appearance. All other errors appeared after I started to use your tool. Sorry for that bad news.

But many functions

[2017-11-15 09:15] lvl99 opened #154 "Ability to customise product attribute fields"
I have the "gender" of products available in a differently named attribute field. Rather than having to rename my product attribute taxonomy across all products, would it be possible to put in a filter to change the name of the attribute that the `WC_Facebookcommerce_Integration` looks for?

[2017-11-15 09:18] micb11 commented on #134
I managed to solve my problem by hiding the shop and then republishing it. After that the message went away. The plugin then started to process the products but after a while is stopped processing them. If I manually go into a product and update on the woocommerce site it will then appear on facebook. But there still seems to be a syncing issue.

[2017-11-15 18:32] jimmyjinkz commented on #63
Hi

Issue mostly resolved thanks :-)

I upgraded to 1.6.6 before reconnecting.

After reconnecting, all prices synced inc VAT.

And when changing visibility on the product page, the changes did pass through to my facebook shop. A connection lost message was displayed, but then the page reloaded itself and confirmed the product had been updated.

Thanks for your help on this

[2017-11-15 18:32] #63 closed

[2017-11-15 18:33] jimmyjinkz commented on #64
Hi

I upgraded to v1.6.6 today and resynced.

After that, I was able to change product visibility from the product pages in Woo. I still saw connection lost, but then the page reloaded and confirmed facebook had been updated.

Thanks for your help!

[2017-11-15 18:33] #64 closed

[2017-11-15 19:05] sammul commented on #149
I'll close the issue for now. If you see this happening in the future, feel free to report again. Thanks!

[2017-11-15 19:05] #149 closed

[2017-11-15 19:14] sammul commented on #148
Hey, thanks for reporting. Can you include more details about this like which version are you on, what errors did you see, maybe some screenshots, your facebook page url so we can check on our side? Thanks

[2017-11-16 14:16] kashalo commented on #119
Hello, i have also almost same issue, i have site contain more 10K product and with variation total 34K every time i try to sync with Facebook my site going so slow, i have to deactivate the plugin till this issue solved.

[2017-11-16 18:30] sammul commented on #154
Hey, I'll mark this as a feature request and to see if this is a common case for a lot of users. Thanks for reporting.

[2017-11-16 20:41] mengyingdu commented on #118
Hi,

I close this task now since it should be fixed. If you still have this problem, let me know.

[2017-11-16 20:41] #118 closed

[2017-11-16 22:43] mengyingdu commented on #107
Hi,

I check your Facebook page https://www.intern.facebook.com/doorsdirect2u/ and your catalog. It seems your catalog has been deleted on Nov 8, 2017. It has 421 products group. Can you try delete setting and re-setup? It should help product sync problem.

[2017-11-17 01:15] dmitridr commented on #154
Hey,

There's already a filter you can try using on all the product data. You would have to hook into this filter and set the gender param according to your custom configuration.

It was added #135

Hope that helps!
If it doesn't, please consider sending us a pull request to add a filter for the gender attribute. We are more than happy to review.

[2017-11-17 14:00] lvl99 commented on #152
Is there any way to debug what information gets set to Facebook without actually sending information?

[2017-11-17 14:05] lvl99 commented on #154
Thanks @sammul and @dmitridr

I have been using the filter in #135 for setting the gender and hiding non-EN versions of the products (setting the visibility to "staging"). Now I'm trying to see if there's a way to add some custom information like setting the language for a product.

[2017-11-17 17:30] mengyingdu commented on #122
Hi,

When you update your product, normally there will be a short time range for processing. Can you wait for a couple of minutes and then check? I do see 'processing' status right after update in testing your problem and it changed to complete status afterwards.
Let me know whether it works.

Thanks.

[2017-11-17 21:11] rirgang commented on #150
Hi
Thanks for response.
On version 1.6.5 the conflict not appears.

[2017-11-17 21:15] rirgang commented on #151
Thanks sammul
The page is https://www.facebook.com/santhatela/shop/
the product has 4 size variations. the description in the store is different for each one, but on facebook only one.
I deactivated the plugin momentarily because it is causing problems with the galleries and sliders, the theme uses the flex slider, but this I already commented on another issue

[2017-11-18 21:03] moduca opened #155 "Variable products"
When I synchronized all my products, not all pictures from variable products were uploaded to Facebook, and I am pretty sure I have set a a custom picture to each variation in woocommerce.

[2017-11-20 00:06] perrochon commented on #75
Any update? I Saw similar/same thing, and came here to file. "moved to trash" in two items, but they didn't go away on Facebook. Then "delete permanently" and that did the job. But I don't want to delete permanenly. Version 1.6.6

[2017-11-20 00:11] perrochon commented on #124
Yes please. Selling unique items, so they go "out of stock" when one sells.... In this case, they don't come back into stock.

[2017-11-20 00:26] perrochon opened #156 "Feature Request: Use Facebook Checkout"
Feature Requests (this may just be documentation requests)
1) Use Facebook Checkout. Right now it sends me back to WC, but I'd like to check out on Facebook
2) Edit on Facebook.
Both of these are tricky, because of inventory management/sync, but simple solutions may enable some use cases.

[2017-11-20 01:54] mengyingdu commented on #75
Hi,

I'm currently working on this issue and will update a fix in next new version. Since we are in code freeze timing, next release will be after 28th Nov ASAP. Thanks for your patience.

[2017-11-20 03:53] trungpc opened #157 "Force Product Resync with External/Affiliate product"
Hi,

I want to Product Resync with External/Affiliate product and facebook checkout to referal link like this https://prnt.sc/hcoo0u

<img src="https://image.prntscr.com/image/8YbXQj5xSyWMMW26pELPPg.jpg">
How I can get that?

Thanks, plz!

[2017-11-20 09:44] Elena88BG opened #158 "Product Catalog Missing"
Hi there!

We're trying to create a set of dynamic ads for remarketing on Facebook. The store is successfully connected via the Facebook for Woocommerce plugin app and the products show up on the Facebook page, but when we try to create a Product Catalogue Sales campaign it says "Your business needs to create a product catalog or connect to the catalog of another business."

Could you please let u

[2017-11-20 16:28] Copterview commented on #134
Just in case you still interested:

Notice
People cannot currently see this product because the seller's Page has not been approved to sell on Facebook.

Michael

[2017-11-20 22:56] mengyingdu commented on #158
Hi,

I check remote log and database for you. It seems you have 2 catalog (one maybe created before setting up our plugin).
Can you try this catalog id (replace the catalog id with this one in your url)? 148351665684781
Let me know whether it works. I can delete this comments later if you feel it's confidential.

Thanks.

[2017-11-20 23:14] mengyingdu commented on #155
Hi,

Which version are you currently using?
There's a checkbox after v1.6.4 to choose whether using parent image on Facebook when you edit the published product. Please note this checkbox only appears in case of variable product when you edit a 'published' product. I have attached the screen shot to make it more clear.
![use parent image](https://user-images.githubusercontent.com/24535640/33046382

[2017-11-20 23:26] mengyingdu commented on #156
Hi,

Thanks for your creative suggestion.
1. Facebook checkout: It's an interesting idea which may need more support from our payment team and we will consider it based on requests priority. Actually, there are some Woo site owners have already felt current checkout redirect to add_to_cart kind of crazy since they believed that shoppers need more time to decide whether to buy and pay. Would you mi

[2017-11-20 23:31] mengyingdu commented on #155
On the other hand, for variable product, if you set customized image in variation, we will use it by default when you publish the first time. (the checkbox not shown for the first time draft -> publish).
I confirmed with testing variable product in latest version. Can you try upgrade plugin ?

Let me know whether it works.

Thanks.

[2017-11-21 01:27] mengyingdu commented on #157
Hi,

I sent a fix to enable external product and it will be added in the new release (after 28th Nov). You can also update product individually in product editor rather than sync all products after that.

Thanks.

[2017-11-21 01:39] trungpc commented on #157
thanks you very much!

[2017-11-21 10:59] Elena88BG commented on #158
It worked, thank you!

[2017-11-21 11:00] #158 closed

[2017-11-21 19:19] perrochon commented on #156
On 1. My wife is selling textile art, bags, quilts, textile jewelry, etc.
Everything handmade and uniquely made in the US. The desire to get them to
the merchant site, with up- and cross-sell is of course in conflict with
avoiding shopping cart abandonment and getting a sale done with minimal
friction. If a Facebook user trusts Facebook, and especially if they
already have a payment instrument in

[2017-11-21 20:18] Xentar opened #159 "API key no longer + pixel already installed (pixel works): shop can't be created"
Well... i have these two issues. First, while doint the setup, where i select the pixel, i get an error msg telling me that i have already installed a pixel... Thing i did with this plugin. (i didn't add the code in header or anything). Ok, if i ignore that, i guess no accuerate data, but at the end all looks fine, till i reload the integration tab and find the resync product missing and the messa

[2017-11-21 20:19] mengyingdu commented on #156
Thanks for your feedback and suggestion.

[2017-11-21 20:26] mengyingdu commented on #107
Hi micb11,

Does it work now?

[2017-11-21 21:22] emmieanna opened #160 "Connect to multiple facebook pages"
Wondering how I can connect the WooCommerce Facebook extension to more than one facebook page please. My WooCommerce store covers quite a few facebook pages and need to propogate my products (the same or possibly different) on multiple facebook pages.
I hope that makes sense.
Thank you!
Emmie

[2017-11-21 23:04] mengyingdu commented on #159
Hi,

There are 2 cases for 'pixel already installed'. Does it say"A pixel is already installed on this site. If you continue, you will replace the existing pixel with ...?  "or something else? If you can send us a screenshot to help us better investigate your issue?

Can you tell us your Facebook page or site url?

Thanks!

[2017-11-21 23:17] mengyingdu commented on #160
Hi,

Currently, one store can only connect to one Facebook page. It's consistent with our product sync progress. It seems you have customized request for your store. Will your multiple Facebook pages sell different product?

[2017-11-22 00:17] Xentar commented on #159
the screen is here (sadly is in spanish, but is something like: "your pixel, Pixel de 4pets is already installed on your website. We recommend you to delete the actual version before continue. On the contrary, there will be two versions of Pixel de 4Pets in your site and and the results of your campaigns will not be accurate")
http://www.4pets.cl/wp-content/uploads/images/issue.png

The website is

[2017-11-22 01:03] mengyingdu commented on #159
Hi,

This is very weird. I checked your website url and the setting id is fine. However, your page link doesn't work. Can you check on your site? https://www.facebook.com/4PetsCL/
![page not work](https://user-images.githubusercontent.com/24535640/33104614-e3a52f70-cedd-11e7-98c7-fe42610d24fe.jpeg)

[2017-11-22 01:43] Xentar commented on #159
Try now. Looks like the owner (i'm helping him) set to just Chile visitors. Deactivated so is worldwide now.

[2017-11-22 02:17] mengyingdu commented on #159
Hi,

I checked your Facebook page and it seems you haven't successfully set up shop. I deleted your setting in our backend. Can you try to set up now?
Let me know whether it works.

Thanks.

[2017-11-22 02:43] Xentar commented on #159
Ok, did it, now at least say that the pixel already instaled but going to use that one (with a green box). But still appear the "Your API key is no longer valid."

[2017-11-22 02:54] mengyingdu commented on #159
Thanks for your patience and try. I will look into your problem.

[2017-11-22 09:54] lthomas122 opened #161 "Product Titles are showing HTML tags"
Since updating the plugin from v1.32 to v1.66, I now have HTML tags showing up in my product feed, which previously wasn't an issue. I know it's not best practice to have HTML tags in your product title but it is needed in my case.

Is there anyway to fix this?

![image](https://user-images.githubusercontent.com/13396465/33120804-116be574-cf6b-11e7-8e07-263bf3210e36.png)

[2017-11-22 11:15] bledfort opened #162 "Facebook created each variation of my products in a separate way."
Hi,
After installing woocommerce plugin with facebook and syncing my products to facebook, it appears that facebook made each variation separatedly which make it look like the product is repeated so it will be hard create facebook ads. Even choosing products based on id won't work since variable product have still same ID. So what can I do?

[2017-11-22 11:33] tobiasfeistmantl commented on #119
Is there any progress on this issue? It's nearly impossible to publish products with a lot of variants since the website goes down for several minutes for everybody!

[2017-11-22 18:10] mengyingdu commented on #161
Hi,

If you upgrade from 1.32 to 1.66, that is a huge upgrade. From user request, we enable line break in description (but only line break, rather than html tag). This shouldn't affect product title. Did  you see this tag on product page as well?

Thanks.

[2017-11-22 18:25] lthomas122 commented on #161
No not on the product page, but you can obviously see it in cms/admin
panel. Yeah the plugin didn't get any update notifications at all, hence
the massive leap in versions.

Is there anyway I could possibly add a snippet to the plugin scripts that
could maybe strip out the html tag before being sent over to Facebook?

On 22 Nov 2017 18:10, "mengyingdu" <notifications@github.com> wrote:

[2017-11-22 18:26] lthomas122 commented on #161
Oh do you mean the Facebook shop product page? If so yes it's visible on
there too.

On 22 Nov 2017 18:25, "Liam Thomas" <liamdanielthomas@gmail.com> wrote:

[2017-11-22 19:01] mengyingdu commented on #161
Hi,

I think your issue is about wordpress or woocommerce rather than our plugin. At the meanwhile, I found some resource for you and hope it is useful: https://medium.com/@clarklab/add-a-line-break-in-a-wordpress-title-b3aeff346037

As short fix, I would recommend use whitespace rather than line break tag. So at least, the product will show regularly.

[2017-11-22 19:06] mengyingdu commented on #162
Hi,

Can you explain more details? Yes, each variation will be sync separately as a child of the group. So why would you think they repeated?

Thanks

[2017-11-22 19:50] emmieanna commented on #160
Mostly the same products actually. But really what ever is easiest to be able to have on multiple facebook pages for now.

[2017-11-22 19:51] mengyingdu commented on #159
Hi,

Did you use Adblock ? It will cause problem with plugin and pixel. If so, can you try disable and then try sync products?

[2017-11-22 20:36] mengyingdu commented on #160
Hi,

Thanks for your explanation. Unfortunately, with current backend design one store can only connect to one Facebook page. The original idea for this set-up is: it's reasonable to own and manage one Facebook official page to represent their business.

[2017-11-22 20:36] emmieanna commented on #160
is there any kind of code that can allow for multiple pages?

[2017-11-22 20:44] mengyingdu commented on #161
Hello,

There are some update:
We will strip out HTML tag in next version in order to avoid this weird feed, however, in that case product title only have one line. We have to do this because it will cause some problems with ads (though maybe not in the shop).

I double checked and confirmed that in your WooCommerce store, you can use <br> as line break in product title.

Thanks.

[2017-11-22 22:33] Xentar commented on #159
hey, sadly didn't work
Ok, disabled it and reconfigured. Got the duplicated pixel message again and when i finished the setup and returned to the integration, i had the same "Your API key is no longer valid." message. This is kinda... extrange. Could be a setup on the hosting? the reqs are ok, but something on the php config?

[2017-11-22 22:46] mengyingdu commented on #159
What other plugins are you using now?

[2017-11-22 22:56] Xentar commented on #159
Must say, a lot of them. Right now running (21):
-Admin menu editor
-Ajax search for woocommerce
-Elementor
-Custom galery wp links
-Facebook for woocommerce
-Pirateforms
-Loco translate
-Meta Box
-Perfect woocommerce brands
-Post Thumbnail editor
-Regenerate Thumbnails
-States, cities and places for woocommerce
-User role editor
-Woocommerce
-Woocommerce added to cart popup
-Woocommerce advanced

[2017-11-23 07:10] ellepietro opened #163 "Pixel does not receive data"
I've created a Pixel and sync it with Facebook for Woocommerce plugin. All seems ok, and Facebook pixel helper for Chrome recognize my pixel, but in business manager there are not recent activities.

![schermata 2017-11-23 alle 08 01 08](https://user-images.githubusercontent.com/33922847/33161727-b925484a-d025-11e7-8ad4-585823d78201.png)
![schermata 2017-11-23 alle 08 01 33](https://user-images.gi

[2017-11-23 07:15] #163 closed

[2017-11-23 08:22] lthomas122 commented on #161
Basically, I have no qualms with it being one line on Facebook at all; it's
just I need the break on the WooCommerce store. Thanks for that link I will
definitely check it out, really appreciate it!

On Wed, Nov 22, 2017 at 8:44 PM, mengyingdu <notifications@github.com>
wrote:

[2017-11-23 08:43] bchevreau commented on #34
I second this feature request! The only thing missing to the amazing addition of WooCommerce integration is the ability for Facebook to retrieve categories, select which categories to sync and create them as collections on the fly. Even for a small shop of about 30-50 products, this is incredibly painful to add.

To give you a bit of context, here's why it can become a nightmare:

My client curren

[2017-11-23 14:44] igogarciamx opened #164 "Pixel in Wizard vs Business Manager"
Hi!
I can't find the pixel for my new ad account / page in the setup wizard. I installed the pixel with Woocommerce first and then download the plugin. The page appears in the first step then when I see pixels the pixel associated with that Page isn't there. I tried to select a random one and then go to the code and change it manually with no success.
Why isn't the pixel for that specific page app

[2017-11-23 19:03] bebemarketplace commented on #123
HI i'm having same 500 Error when trying to go to https://www.facebook.com/bebemarketplace/shop

I upgraded to v1.6.5.

Please help!

[2017-11-23 19:08] bebemarketplace commented on #119
i have the same issue 1000 products with 10 variations each. site crashes, deactivate plugin. recently i cant event activate this plugin without crashing my site. please help. this has so much potential!

[2017-11-24 01:57] crobertwatson opened #165 "Support 'no default' variant value, default show 'select XXX' in dropdown"
I'm trying to add a WooCommerce product to Facebook using the Facebook for WooCommerce extension. When I have a product that has multi-combo variations (flavor 1 + flavor 2), the Facebook version of the product comes out looking like you see in this screenshot.

https://www.awesomescreenshot.com/image/2986991/76387913f305bf33452bdc709b83e1c4

Why aren't the flavor variations appearing in the dropd

[2017-11-24 22:31] Vezzian commented on #141
I'm having the same issue. I created some demo products manually before installing the plugin. The plugin imported the demo products to my FB page's shop. Realizing this I manually deleted the products before i realized i should have removed them via the plugin itself. The products no longer exist on my website, but they still exist in my FB shop and I can't find a way to remove them. Please help!

[2017-11-26 00:28] sillyonthestreet opened #166 "Remaining products count goes negative and drops database"
I have the latest version of WordPress with the latest version of WooCommerce and the latest (1.6.6) version of the Facebook for WooCommerce plugin.

I have 197 published products in my store. I tried syncing them, and part of them did get synced, but the count of remaining products goes negative (-xx). Then it drops my MySQL server as I guess it overloads it. I need to restart my MySQL server aft

[2017-11-27 01:40] mengyingdu commented on #161
Hope it helps.

[2017-11-27 01:40] #161 closed

[2017-11-27 09:28] jigneshdp1493 commented on #113
Hello Metuza,

I need help from your side:

How to check Match rate in Facebook, It will be great if you will share the step of this.

Thanks in advance.

[2017-11-27 09:44] metuza commented on #113
Hello!

When you are into the product catalog view of your Facebook business account then just click the Events  in the menu and select correct pixel. See the attached image.

![match-rate](https://user-images.githubusercontent.com/11693376/33260299-afd6fa3a-d35f-11e7-9c7c-a1aaa605e385.JPG)

[2017-11-27 09:47] jigneshdp1493 opened #167 "How to check catalog product match rate in Facebook?"
Hello There,

I want to know the step by step for checking catalog product match rate in Facebook.

Thank in Advance :)

[2017-11-27 17:12] mengyingdu commented on #166
Hi,

Thanks for your self-investigation and sorry to hear about that. I will look into your issue now.
1. I will solve the deprecated function issue.
2. Can you tell me you store url or Facebook page ?I want to confirm whether your site has some other reason to cause this minus problem.

Thanks.

[2017-11-27 17:27] sillyonthestreet commented on #166
Store URL: https://www.facebook.com/MariaPinoWorld/shop/
While I'm at it, I also don't get the option to invite people that liked/reacted to my posts. Only an "Add friend" option. It happens on that page only.

[2017-11-27 21:35] popforce opened #168 "Span tag not stripped from title"
A span tag used in the title of a product in woocommerce shows as plain text in the facebook shop and does not get stripped as intended.

[2017-11-27 21:38] popforce opened #169 "Shortcodes are not processed in product descriptions"
Shortcodes in product descriptions do not get processed leaving the description with possible incomplete data in facebook, e.g. age verification, product details.

[2017-11-27 21:55] jieminz22 commented on #169
Hi,

Which version are you using? Also, could you please send us a product URL that has this issue? Thanks.

[2017-11-27 21:57] jieminz22 commented on #168
Hi,

We've noticed this and will fix the issue in the next version. Meanwhile you can take a look at this similar one https://github.com/facebookincubator/facebook-for-woocommerce/issues/161.

Thanks.

[2017-11-27 22:05] popforce commented on #169
Hi jieminz22,

I'm using 1.6.6

Facebook: https://www.facebook.com/commerce/products/1381414951981284/
Shop: https://www.lifetex.eu/p/teppiche/einzelstuecke/nepali-mit-seide-indien/

[2017-11-27 22:07] popforce commented on #168
Thank you.

[2017-11-27 22:07] #168 closed

[2017-11-27 23:47] bwohn65 opened #170 "WooCommerce not syncing to FB shop"
This was just working, but now when I enter a new product (or pull up one that worked previously), the FaceBook "SHOP" isn't posting (or even on the page anymore). When I publish a new product it does post it to my FB PAGE, but not to the FB SHOP - and that worked fine yesterday. The FaceBook ID on the right side-bar isn't there either.

I'm now getting the message: "Facebook for WooCommerce is al

[2017-11-28 00:20] jieminz22 commented on #169
Hi,

Can you give us a list of detailed steps so that we can try them on our test servers and reproduce your problem?

Thanks.

[2017-11-28 00:32] jieminz22 commented on #170
Hi,

Have you ever completed the setup steps? This message means that we detect Hammerhead Woodworks is connected to a WooCommerce store already. Have you been through the setup steps already?

[2017-11-28 00:49] jieminz22 commented on #167
Hi,

You should be able to find it on your Product Catalog page Event tab: https://www.facebook.com/products/catalogs/<catalog-id>/events

[2017-11-28 01:09] mengyingdu commented on #169
Hi,

If you could upload you product set-up, especially the field including your shortcode, it will help much.

Thanks.

[2017-11-28 01:33] popforce commented on #169
Hey,

I'm using a simple shortcode `[ltad dbs="desc"]` in the post_content of the product/post, which inserts some text based on the dbs string. It's working fine with my amazon plugin (wp lister pro).

Thanks you for your effort.

_**Note on another issue**: You really should include a (translateable) text-box which is appended or prepended to each product description so you can show tax, shippin

[2017-11-28 12:42] bwohn65 commented on #170
Hi, yes, I went through all the steps months ago and been working fine. Now I get this message and if I try to walk-thru again, it says its already connected. Do I un-connect it and re-connect it? Didn't want to break anything.

[2017-11-28 20:11] mengyingdu commented on #160
Yeah there's a trick, but no way to update or change those products after doing the trick.

[2017-11-28 20:11] #160 closed

[2017-11-28 20:13] mengyingdu commented on #155
Hi,
The new version should support customized image for variable products. I close this issue for now, let me know if you still have problem about this.

[2017-11-28 20:13] #155 closed

[2017-11-28 20:14] mengyingdu commented on #107
Hi,
The new version should work for products with discount. I close this issue for now, let me know if you still have problem about this.

Thanks.

[2017-11-28 20:14] #107 closed

[2017-11-29 00:19] jieminz22 commented on #170
Hi,

Did you recently update your DB on Woo? It seems the system can't detect the settings for Facebook shop on Woo anymore. To fix the issue, you can go ahead un-connect and re-connect it. If you have existing ads running against the catalog it has created, pause it before you re-setup.

[2017-11-29 00:37] jieminz22 commented on #169
Hi,

We weren't able to reproduce this on our test servers. Would you mind send us some screenshot/video to help us reproduce the problem? Thanks.

[2017-11-29 01:09] mengyingdu commented on #151
Hi rirgang,

This is a bug for Facebook page shop and I have already flagged this to our shop team.

If you go the product item from your Woo panel, click on each product item id on the right side, you can see the correct variation description. However, if you go through your Facebook shop->click on a product group -> change variation selection, the product url doesn't update. We will try our best

[2017-11-29 01:36] mengyingdu commented on #166
Hi,

1. As for your problem about description, if it is a variable product, it should be related to issue #151
2. I didn't find other problems from remote log.

[2017-11-29 01:40] mengyingdu commented on #151
Upload the screenshot if it helps you find it:
![facebook description](https://user-images.githubusercontent.com/24535640/33353542-3259739e-d463-11e7-827f-010772c6a256.jpeg)

[2017-11-29 08:36] webplease opened #171 "Set Up Default Variant Value for Variable Product"
Hi to all,

i have many products with variants on my shop, when I syncronize all products on the Facebook showcase it's shows the maximum price of the variant. How can i choose the right price to show? Or how can i show the min price?

[2017-11-29 12:51] Runstat opened #172 "Variable subscription product not displaying"
Hi

I have installed the FB pixel and setup the plugin as per instructions. The WooCommerce product syncs correctly and the pixel is activated etc. However, the products do not show up in the Facebook shop.

For the time being, I have switched off the shop as part of the set-up/ manually uploaded the products to the page, otherwise I will be without a shop while it's resolved.

It's mentioned in a

[2017-11-29 15:16] MilkmanWes commented on #96
Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.

Reading this issue and the comment by @dmitridr I think this may be what is affecting my wifes shop. Can you tell me if this is indeed the same issue? We do not see the reconfigure FB button and my wife has removed and reinstalled the ex

[2017-11-29 16:17] bobteree commented on #119
This is not only about variations. It's about updating in general. When you have 2000 products this plugin brings your site to a crawl. Not exactly sure what is going on, but the plugin code is somehow consuming serious resources when being used with many products and WooCommerce. It is  functionally good, but performance is terrible with a large # of products. Lots of unnecessary updates going on

[2017-11-29 16:18] bobteree commented on #119
Do those with many variants ALSO have many products?

[2017-11-29 16:52] bwohn65 commented on #170
That worked! I just didn’t want to unlink until I knew it was ok… thanks SO much, working again :)

Brian

-----

[2017-11-29 18:25] mengyingdu commented on #159
Hi,

I checked your remote log which shows that your setting created successfully this time. However, the API key problem usually happens if you have reset your FB password recently. If you follow the steps described in the error message and delete the plugin and set up again, you can get a new API key.

But keep in mind that disabled Adblock when you fix it.

Let me know whether it works.

Thanks

[2017-11-29 18:26] mengyingdu commented on #159
I realize this is a hassle, which is why we are working on building a way to do this without having to delete everything, but that will not be ready for some time yet.

[2017-11-29 19:12] mengyingdu commented on #166
Hi,

1. We fix the deprecated function call in new release (should be this week) . If your store is treating warnings like errors, that could be why it's not syncing and DB too many reads.
2. As for your page 'invite' option, it's an issue with pages, and we can't really help much because it's not an issue with the woo plugin. I will flag this problem to page team, and just to confirm that the opt

[2017-11-29 19:18] sillyonthestreet commented on #166
1. I just noticed the error somewhere in the logs, it's not related to the DB overload.
2. The invite people option is not the one from your screenshot. It's the option when you click on the reactions for any post
So I get this:
https://imgur.com/a/mhGQM
And I should be getting this:
https://imgur.com/a/RodA4

[2017-11-29 19:47] mengyingdu commented on #166
Thanks for your screen shot.
How many fans does the page have? This feature gets removed once a page surpasses a certain fan count.

Thanks.

[2017-11-29 19:57] mengyingdu commented on #166
Update:

I have checked our policy that: there is both a page level and user level limit on number of invites sent per day which prevents spam and abuse. So I think this is the reason you can't see this option on this page.

Thanks.

[2017-11-29 20:39] mengyingdu commented on #166
Hi,

Version [1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) is released which added a lot of features/fixes, can you upgrade?

I will close this issue for now, if you still have the problem, feel free to re-open it and let me know.

[2017-11-29 20:39] #166 closed

[2017-11-29 20:40] mengyingdu commented on #157
Hi,

Version [1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) is released which added a lot of features/fixes, can you upgrade?

[2017-11-29 20:40] #157 closed

[2017-11-29 20:44] #170 closed

[2017-11-29 20:47] alexanderdejong commented on #165
Hi, I'm having the same problem as @crobertwatson. Please suggest what we can do to fix this issue on our website. Thanks.

[2017-11-29 20:49] mengyingdu commented on #141
Hi @metuza ,

We support trash/restore in [v1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) which also added many features/fixes, can you try to upgrade?

Thanks!

[2017-11-29 20:53] mengyingdu commented on #141
Hi @Vezzian and @thierrymaasdam,

Here are some workround:
We fixed trash/restore in [v1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) which also added many features/fixes, can you try to upgrade?

Also, can you try to Re-configure Facebook Settings (which should in WooCommerce settings->integrations->Facebook for WooCommerce? It should reset your Facebook

[2017-11-29 21:32] jieminz22 commented on #171
Hi,
Try set the default price on Woo with the price you'd like to show and see if it gets updated on Facebook.

[2017-11-29 22:12] jieminz22 commented on #172
Hi,

Sorry we don't support variable subscription product at this moment. We will prioritize it based on user demands.

[2017-11-29 22:31] mengyingdu commented on #120
Hi,

Version [1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) is ready now and we add more support for external product
if they click on check-out, we will redirect them to the product url which you put in product editor.
Can you try to upgrade?

Thanks.

[2017-11-29 22:34] tahoff commented on #113
This has been fixed in version 1.7.0

[2017-11-29 22:34] #113 closed

[2017-11-29 22:35] mengyingdu commented on #75
Hi,

Version [1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0) is ready, can you try to upgrade?

Thanks.

[2017-11-29 22:35] #75 closed

[2017-11-29 22:39] mengyingdu commented on #91
Hi,

This has been fixed in [v1.7.0](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.0), can you upgrade and check whether it works for you?

Thanks.

[2017-11-29 22:39] #91 closed

[2017-11-29 23:55] mengyingdu commented on #164
Hi,

Are you the only owner of your business? It's probably because the expected pixel doesn't belong to your ad account.
Can you tell me more information or steps to repro your problem?

Thanks.

[2017-11-30 00:17] mengyingdu commented on #165
Hi,

This is because when you set up variable products in product editor, 'variations' tab, you select 'any' + attribute. If you select the detailed attribute value, it should appear correctly.
Let me know whether it works.

Thanks.

[2017-11-30 08:37] frisonl commented on #75
Alright I will a.s.a.p. Thank you for the update!

[2017-11-30 08:49] webplease commented on #171
Hi jieminz22, how can I set the default price on Woo?

[2017-11-30 15:37] metuza opened #173 "Took down my optimized VPS server"
Hello..

I just updated to the latest version and at the same time i reset the catalog setting and did a new catalog creation and upload of my 800 products. During the upload of the products i got wp_remote_request_error and ajax calls was overloaded, and then i got many 100s requests from facebook IP's and it took down my site. This has never happend before, i have noticed a slower site but not l

[2017-11-30 16:41] sillyonthestreet commented on #173
Somewhat related, the plugin takes down my optimized VPS too:
https://github.com/facebookincubator/facebook-for-woocommerce/issues/166

[2017-11-30 17:28] alexanderdejong commented on #173
Can confirm, sync causes the application to crash.

`facebook-settings.js?ts=1512062574:57 POST https://website.com/wp/wp-admin/admin-ajax.php 504 ()
(anonymous)
send @ load-scripts.php:4
ajax @ load-scripts.php:4
n.(anonymous function) @ load-scripts.php:4
ajax @ facebook-settings.js?ts=1512062574:57
check_queues @ facebook-settings.js?ts=1512062574:456
(anonymous) @ facebook-settings.js?ts=15120

[2017-11-30 19:18] dmitridr commented on #173
Hello,

Thanks for reporting this. Can you all share any PHP stack traces within your error logs with us? It will help us identify and solve the problem.

wp_remote_request_error is likely coming from our auto-upgrade feature that was added. You can try disabling it by commenting out [these lines](https://github.com/facebookincubator/facebook-for-woocommerce/blob/1addf68f425fc40ace533553e8294f1d15

[2017-11-30 19:40] metuza commented on #173
Well, i did not get any errors in my logs related to your plugin other than when i tested my checkout page for klarna gateway at the same time the product upload was in process - it was at that point i figured out that something was very wrong because none of the ajax calls was working and i found the below in my error-logs.

[30-Nov-2017 14:49:30 UTC] PHP Fatal error:  Uncaught Klarna_Checkout_Co

[2017-11-30 19:51] mengyingdu commented on #173
Hi @metuza ,

Thanks for your information. Can you tell us your store url? or Facebook page?

From your log, there's nothing related to our plugin. I need more information to investigate your problem.

Thanks.

[2017-11-30 19:52] mengyingdu commented on #173
Hi @alexanderdejong ,

Did you also use woocommerce-gateway-klarna? Can you tell us your store url or Facebook Page?

Thanks.

[2017-11-30 20:06] metuza commented on #173
Well the problem was already there and site was on its way down during the catalog creation and product upload process, somehow it was like all ajax functionality dissapeared and site was very very slow - It was at that point i just checked my checkout page and the error was generated. If i have not visited the checkout page there has been no errors in my log.

Also after that the catalog was gene

[2017-11-30 20:14] mengyingdu commented on #173
Thank @metuza , I'm looking into this issue now.

[2017-11-30 20:21] mengyingdu commented on #173
I checked your site, you're right that it's very slow now. Did  you try to comment out the lines mentioned by @dmitridr ? Does it help?

[2017-11-30 22:23] dmitridr commented on #150
Thanks for confirming the issue. I guess I would recommend sticking with 1.6.5 for now until the compatibility issue can be resolved.

[2017-11-30 22:23] dmitridr commented on #148
Closing because this issue appears to be blank?

[2017-11-30 22:23] #148 closed

[2017-11-30 22:29] dmitridr commented on #152
Hi,

Sorry for the delay in replying. You should be able to use WP_DEBUG as long as WP_DEBUG_DISPLAY is disabled. In fact, this is the setting we use on our test servers to test the plugin before releasing it.

We'd be happy to review your pull request for such a filter.

To answer your other comment : you can comment out [the _get and _post methods here](https://github.com/facebookincubator/faceb

[2017-11-30 22:29] mengyingdu commented on #173
Hi @metuza, @alexanderdejong and @sillyonthestreet,

We just push [v1.7.1](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.1) to fix this issue. Can you upgrade and try to check whether it fix your issue?

Thanks.

[2017-11-30 22:33] dmitridr commented on #153
Thanks for writing in! I agree that this would be a nice feature. If you are so inclined, please consider sending us a pull request. We're very happy to review!

[2017-11-30 22:39] dmitridr commented on #123
Hi @bebemarketplace your shop works for me now. Did you do something specific in order to fix it? That may help us resolve the original issue.

[2017-11-30 22:42] alexanderdejong commented on #173
@mengyingdu the update didn't fix the problem during update.

When I try to visit my shop I get the following error:

`Gateway Timeout
The gateway did not receive a timely response from the upstream server or application.`

Here is a snippet from my log:

`[30-Nov-2017 22:38:00 UTC] Pushing post to queue: 1086
[30-Nov-2017 22:38:00 UTC] Pushing post to queue: 1070
[30-Nov-2017 22:38:00 UTC] Pushin

[2017-11-30 22:49] alexanderdejong opened #174 "Compatibility with wpallimport: not saving price with tax to Facebook during import"
The plugin saves the price incl tax only when I create a new post or edit it.

However, it is not pushing the tax price to Facebook when using the plugin wpallimport to import the products. Is there a way I can hook into function update_product_item and force update it? I've not worked much with classes before. So I was trying to force update it using the hook pmxi_saved_post from wpallimport:

[c

[2017-11-30 22:57] dmitridr commented on #173
Hmm. Looks like this is a perf issue then, the site slows down so much during product sync that it appears to go down. Is that correct?

Is there an issue outside of product sync as well, or only during sync?

[2017-11-30 23:13] dmitridr commented on #173
We can't reproduce this issue on our test servers. Can you all try commenting out

[these lines](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/facebook-commerce.php#L128-L147) by using the wp plugin editor (Plugins > Facebook For WooCommerce > Edit), and doing a force resync to see if that helps? This will remove the auto-updating functionality as well as a new info mes

[2017-11-30 23:31] alexanderdejong commented on #173
I commented out the lines your referenced but alas this did not help.

Just checked my log again and there are many "pushing post to queue" occurring at the same time:

[code]

Maybe this shouldn't occur so quickly?

[2017-11-30 23:39] tahoff commented on #173
@alexanderdejong Did those messages print out much slower in previous versions?

[2017-11-30 23:44] alexanderdejong commented on #173
@tahoff I can't say...  as I just started using your plugin and troubleshooting yesterday. It hasn't worked optimally for me yet. I'll try a previous version tomorrow and see what happens.

[2017-12-01 01:47] mengyingdu commented on #173
Hi,

We send [v1.7.2](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.2) to fix this urgent issue. Can you try it?

Thanks.

[2017-12-01 02:01] bebemarketplace commented on #123
Dmitri

It doesnt work for us still. Shop on Facebook loads on mobile only and its
partial. I disabled this plugin for now since I dont think its stable with
the number of products + variations. Really hoping for this to work. I wish
facebook had some support but that didnt get anywhere.

On Thu, Nov 30, 2017 at 5:39 PM, Dmitri Dranishnikov <
notifications@github.com> wrote:

[2017-12-01 03:44] igogarciamx commented on #164
Hi! Yes. I'm the only owner. I do own couple of Ad Accounts and Business Managers. Let me get a screencast and I'll send it tomorrow. Thanks for following up.

[2017-12-01 04:10] ShopNorthTexas opened #175 "Pixel deletion"
My goal in this is to link my WooCommerce with my business account for Shop North Texas rather than my personal. (see screenshot)
<img width="703" alt="screen shot 2017-11-30 at 9 55 31 pm" src="https://user-images.githubusercontent.com/34149771/33467330-61a7ad02-d619-11e7-83fd-332f922fd654.png">

Initially, I set up my business page with a different email from the one associated with my personal

[2017-12-01 15:53] lvl99 opened #176 "Feature request: play nice with WPML"
WPML has a [wpml-config.xml](https://wpml.org/documentation/support/language-configuration-files/) format which might be a good idea to support.

The other thing is because I use WPML to manage products in two languages (EN and FR) that the FB for WC plugin tries to synchronise all products, not just of one language. I've made a quickfix where I've forced non-EN products' visibility to `staging`:

[2017-12-01 19:39] mengyingdu commented on #173
Hi @metuza ,

I went to your website and it seems you haven't installed 1.7.2, can you upgrade? I think it should solve your site loading issue.

Thanks.

[2017-12-01 21:01] metuza commented on #173
Hi @mengyingdu

Sorry for the delay, been busy with a conflict in my checkout page and i guess that is why you have found my site very slow - the cache has been disabled. It should now load in less than 1.6sec

Anyway, i have installed 1.7.2 and so far everything looks ok, but i have not done any test of the force product re-sync option as i will wait tils my customers goes to bed in case of same

[2017-12-01 22:29] jieminz22 commented on #176
Hello,

Given that we're dealing with a high volume of bugs, we unfortunately won't get to these feature requests for a long time to come, even though we'd like to. However, we'd be happy to review any pull request to add this functionality, please consider sending us one!

[2017-12-01 22:55] jieminz22 commented on #174
Hi,

Have you tried with an earlier version?

[2017-12-01 23:39] mengyingdu commented on #174
Hi @alexanderdejong ,

In order to set up tax in Woo:
WooCommerce --> Settings --> Enable taxes and tax calculations (under 'general' tab) --> set up tax config under 'tax' tab
tax tab only appear after enable tax in general step
Also, there is detailed doc and video to explain how to set up tax step by step:
https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/

After set up this

[2017-12-01 23:44] mengyingdu commented on #171
Hi,

There's some confusion here. You could set your default price in this way:
1. set default variant value (the one with min price)
2. sync product

By doing this, it should show the product item with min price by default. See screen shot if it helps you find it.
![default variant value](https://user-images.githubusercontent.com/24535640/33508325-8b72188a-d6ae-11e7-9294-d4a7fc2d8b9c.jpeg)

Let m

[2017-12-02 11:31] alexanderdejong commented on #174
Hi @mengyingdu ,

Taxes are already setup and working normal in my shop. So when I press sync the product on Facebook receives the price without tax. However, when I click update product on each product page it updates the price on Facebook.

@jieminz22 I will be trying earlier versions this weekend. Also to check #173.

[2017-12-02 13:30] metuza commented on #173
Ok, just did a force re-sync and everything went smooth and fast. Products and prices beeing updated, all ok.

Thanks

[2017-12-02 17:15] Xentar commented on #159
Nop, no luck: Deleted configurartion, deactivated plugin, deleted it, downloaded the last one from here, deleted adblock from firefox, uploaded plugin... did the full set up again, and the same issue. "Your API key is no longer valid." and, btw, the fb password was never reseted, is the same from the start... Looks like we going to need to wait for a new version and give it a try again...

[2017-12-02 21:58] ShopNorthTexas commented on #175
If the user is an Admin, would they not have complete access?

[2017-12-02 22:20] ShopNorthTexas commented on #175
There's also a pixel registered under my personal Ad account, and two pixels created under the business account. I'm also not seeing my page in search results either logged in to personal, another account, or incognito on Google. Really confused by this one...

Please help.

[2017-12-03 08:03] mengyingdu commented on #173
Thanks @metuza for your confirmation and update. I will close this issue for now, if the problem persists please create a new issue and reference this one.

[2017-12-03 08:03] #173 closed

[2017-12-03 08:13] mengyingdu commented on #154
Thanks for your update! Please create a new issue and reference this one if the problem persists.

[2017-12-03 08:13] #154 closed

[2017-12-03 11:58] webplease commented on #171
oh, i never have payed attention to this option! Thanks very much!

[2017-12-03 14:48] yatanasov commented on #123
Hello,
We are still experiencing the same issue on Desktop version :(( it is really affecting our business.. Having more than 10,000 variations should not be a problem and also it is not possible for us to change this I am afraid.. We really hope that this can work.. Please investigate and get back to us.. Otherwise - great plugin! Thanks !

[2017-12-03 18:22] ramonahaha commented on #171
hi, I have the same problem. On the facebook shop storefront is the highest price from all variations and on each single product page is the variation with the highest price pre-selected. The above solution is not working for me.
Thanks

[2017-12-03 23:52] mengyingdu commented on #123
Hi @bebemarketplace,

I checked you Facebook Shop on desktop and Facebook app, both of them have shop section. There are 1057 product groups in your catalog, so I think your problem is 'not all product synced'?

It'd better to open an new issue if you still have this problem since they seem different to this one.

Thanks.

[2017-12-03 23:56] mengyingdu commented on #123
Hi @yatanasov ,

I will reach out to shop team for your issue  and try to resolve it soon. Thanks for your patience!

[2017-12-04 00:00] PolyMen opened #177 "No pictures after synchronization : 403 From FB Side when Fetching Images -> Hotlinking Disabled?"
Hi, pals!

First of all - thanks for your work!
About problem. I can't find any information about some problems, but in my case - something wrong with product's pictures. After synchronization products created without pictures on Facebook side. Actually I can see pictures, but only on the Product Catalog page. On [my shop page](https://www.facebook.com/pg/topshopmir.ru/shop/) all products without

[2017-12-04 01:25] mengyingdu commented on #96
Hi @MilkmanWes ,

It seems similar to this issue. Are you not seeing the 'Reconfigure Facebook Settings' button when the error appears? Have you ever actually change your FB password?
If you can tell us your Facebook Page or website url , it helps me check your remote log.

Thanks.

[2017-12-04 05:52] sstiavetti opened #178 "Pulling Pixel from Wrong AdAccount"
I have two Facebook ad accounts. The first account is my personal ad account, while the second one is my business account. The WooCommerce Facebook integration is only accessing my original personal ad account with an old pixel that I don't use anymore. It will not access my business ad account, which contains the pixel I actually use. I contacted WooCommerce support and they suggested I post the

[2017-12-04 06:04] crobertwatson commented on #165
I'm not sure I understand. In my case, I have a set of five different flavors for the product. The customer can choose one or both of any two flavors in that set of five. If I were to pre-select the detailed attribute value, that would mean I'd have to have a different dropdown set for each possible combination of the two flavors, including the same for each flavor. So...

Orange Blossom + Orange

[2017-12-04 10:28] PolyMen commented on #177
In appendix...

If in the item card, click the button "More fields" - in the string with image_url, I see the[ following image link](https://external.xx.fbcdn.net/safe_image.php?d=AQB6N3F9oPwTu68F&url=https%3A%2F%2Ftopshopmir.ru%2Fwp-content%2Fuploads%2F2016%2F11%2Fshop_property_file_1344_2491.jpg&cfs=1&_nc_hash=AQADLwB3LHpNkcaJ), for example.
![face3](https://user-images.githubusercontent.com/198

[2017-12-04 17:22] mengyingdu commented on #171
Hi @ramonahaha ,

Would you mind give us more details why the above solution not working for you ? Do you have extra customized configuration? If your case is different from this issue, feel free to open a new issue so it helps us track your problem.

Thanks.

[2017-12-04 17:42] adolfusadams opened #179 "Is it possible to single or multi select products to be synced to Facebook?"
Is it possible to single or multi select products to be synced to Facebook?

[2017-12-04 18:21] mengyingdu commented on #155
related to #151
This is a shop bug, if go through FB shop->change variation value selection->pop up window not update picture/price/variant description

[2017-12-04 20:31] dmitridr commented on #176
Hello, thanks for writing in. We're aware of existing compatibility issues with WPML (#20 #144 #79).
But as Jiemin said, we're prioritizing bugs for now. However, we will be happy to review any pull requests.

Looks like you spent some time developing a fix, unfortunately not every shop will want only the English products to sync, but with some work maybe we can turn your fix into a fix for everyo

[2017-12-04 20:42] dmitridr commented on #164
I'm hoping the problem is resolved here?  There should be a place in the business manager interface to assign pixels to ad accounts, which should resolve your issue. The only reason a pixel won't appear (to my knowledge) is that it is not attached to any ad account.

[2017-12-04 20:44] dmitridr commented on #175
Hi,

If you are seeing this message, you are logged in as a user who has multiple ad accounts, and none of those ad accounts have a pixel attached to them. If these are personal (non-business) ad accounts, you could go into the account and create a pixel, that should resolve the issue.

If these are business ad accounts, you can probably resolve this by assigning the pixel to the ad account throug

[2017-12-04 22:03] dmitridr commented on #177
Hello,

Thanks for reporting this issue. It looks like any ads you may have (da_display_preview_url in your screenshot) will still load the image. But it's strange that the main image does not load in the shop or in the catalog manager page.

I've double checked and it doesn't appear to be an issue with our plugin, so I've forwarded this to our product catalog team, we'll see if they can resolve i

[2017-12-04 22:08] dmitridr commented on #178
Hello,

Thanks for writing in. Can you confirm that you have an existing pixel for 'Fearless Fresh' and give us the ID of the pixel assigned to this account?

If this is a business account, usually creating a pixel and assigning it to this ad account using the business manager interface should enable you to see the pixel inside the selector. #175 #164 are somewhat related to this.

[2017-12-04 22:14] dmitridr commented on #179
Hello,

By default, the plugin will sync all visible published products, so selection of products to sync is not currently possible. Though if you'd like to request this as a feature to add, I can mark this as such.

Here is what is currently possible:

- You can 'Hide' products from FB using the 'Hide' button on the all products page.
- You can 'Hide' products from FB using the visibility toggle

[2017-12-04 22:41] dmitridr commented on #159
Hello,

Thanks for trying all of Mengying's suggestions. I have some more that you can try :

- Could you try to temporarily deactivate every other plugin except WooCommerce and FB for Woo. Then try the reset steps again. Does the problem persist? This should rule out the possibility that other plugins are interfering somehow.

- From our internal logs, we can tell that we sent a valid API token t

[2017-12-04 22:43] dmitridr commented on #74
Closing this since the original problem was solved. Feel free to file another issue if the problem with the partial uploads is persisting!

[2017-12-04 22:43] #74 closed

[2017-12-04 23:01] igogarciamx commented on #164
I don't know what could be happening, really. I couldn't manually enter the Pixel in the WooCommerce integration. I had to override the pixel ID with "Pixelyoursite" plugin.  I have two business managers, four ad accounts and I only see three. Haven't had time to do the screen grab so I'll share some screens.

![screen shot 2017-12-04 at 4 59 10 pm](https://user-images.githubusercontent.com/339344

[2017-12-04 23:08] thesilverforge opened #180 "Products display in FaceBook oldest to newest"
Hi, apologies if this has been addressed elsewhere - I have read all the documentation and both open and closed issues and can't see an answer. Is there a way to change the display order of the products? Currently they are displayed oldest to newest. Thanks!

[2017-12-05 00:18] EmmanouilPerdikis opened #181 "AddToCart and Purchase not working with Pixel + WooCommerce Subscription Issues"
After updating to version 1.6.6 , my pixel stoped working properly.
Only ViewPage is alive. AddtoCart or Purchase stoped working , although i have a lot of daily traffic and some purchases. The Pixel shows zero .
 And also i have two active subscriptions Facebook For WooCommerce ??? Which one is the correct ?

I am attaching you screenshots.

Thanks,
Emmanouil Perdikis
<img width="680" alt="screen

[2017-12-05 01:34] Xentar commented on #159
-Checked de options table and is there (but the wp_options is had diferent suffix for security)
-Going to give a try the plugins idea tommorrow late night during a maintence.
Lets wish is something like that... well, is the most feasible option, anyways

[2017-12-05 01:46] Vezzian commented on #141
Thank you!

I was able to reconfigure the settings which fixed my issues.

Simon Yates | tees2seize.com

From: mengyingdu

Sent: Wednesday, November 29, 2:53 PM

Subject: Re: [facebookincubator/facebook-for-woocommerce] Delete products from catalog & shop (#141)

To: facebookincubator/facebook-for-woocommerce

Cc: Vezzian, Mention

Hi @Vezzian and @thierrymaasdam,

Here are some workround:

We fix

[2017-12-05 09:21] PolyMen commented on #177
Good news...!

[2017-12-05 16:14] ramonahaha commented on #171
Hi mengyingdu, Thanks for your reply. No, I have not any extra configuration and I set the cheapest variation as default but the most expensive is shown on my Facebook shop storefront, which is daunting for my customers. And when I open the product the most expensive variation is pre-selected (default) and not the cheapest one, which I set on my website. It is working absolutely fine on my website

[2017-12-05 18:57] fagnersantos opened #182 "Images not showing on catalogue"
Hi,

After catalogue sync, the URL to the main image is set to https://external.xx.fbcdn.net/safe_image.php?d=AQAHBkGTQCHPkP2v&url=https%3A%2F%2Fwww.vanillashakeclothing.com%2Fwp-content%2Fuploads%2F2017%2F11%2Ffox_set_vs-1.png&cfs=1&_nc_hash=AQBFvmVwZpK_B2ZP

This returns a 1x1 blank pixel. How can I fix this?

Best,
Fagner Santos

[2017-12-05 23:33] dmitridr commented on #181
Hello,

Please try our latest version, v1.7.2 available [here](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.2).

Does the problem persist in the latest version?

For the subscriptions, I suggest contacting WooCommerce support to resolve the issue. This may be why the pixel won't work. You may be able to fix it by uninstalling/reinstalling the plugin.

[2017-12-05 23:35] dmitridr commented on #180
Hello,

Unfortunately there's no way to do that within the shop, if you are talking about the shop.

If you run Dynamic Ads, the products are typically displayed in order of relevance to the user (starting with the products they looked at directly).

[2017-12-05 23:38] dmitridr commented on #182
Hello,

Thanks for reporting this issue.
Someone just reported this the other day #177. Our product catalog team is working on a fix. I'll update this when they resolve the issue.

[2017-12-05 23:49] dmitridr commented on #167
Closing this since it seems the question was answered? Feel free to open a new issue and reference this one if there is a follow up question!

[2017-12-05 23:49] #167 closed

[2017-12-05 23:54] dmitridr commented on #125
Hello,

Thanks for your patience. We identified a similar issue in #173 where product sync was taking a very long time, and we sent out a performance fix in the latest version [v1.7.2](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.2) you may see a performance increase when installing this version.

To answer your question about advanced options, you should click t

[2017-12-05 23:56] dmitridr commented on #90
Hello Again,

We fixed the old / trashed products syncing to FB in some instances.
If you upgrade to [v1.7.2](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.2) and 'Force Resync' or 'Delete Settings' and reupload, it should fix the problem.

If the problem persists feel free to open a new issue and reference this one. Thanks!

[2017-12-05 23:56] #90 closed

[2017-12-05 23:59] dmitridr commented on #162
Hello,

I understand your concern but you need not worry, the way Dynamic Ads work no product within the same `product group` will appear in the same ad. Therefore only one variant of each product will appear in any ad to any user at any one time.

If you have a screenshot, that would help us understand what the specific problem is.

[2017-12-06 00:50] dmitridr commented on #85
Hello,

Thanks for your patience. We followed up with our shops team on this issue, this screen is only shown to the administrators of the page, and not the users. I believe the purpose is for you to share the products as an admin of the page.

Please feel free to open a new issue and reference this one if you have any follow up. Thanks!

[2017-12-06 00:50] #85 closed

[2017-12-06 01:00] dmitridr commented on #164
The selector shows all of your pixels `that are attached to ad accounts.` If the pixel you want to use is not attached or assigned to any ad account that you own, it will not be shown.

Could you try and follow the steps in this guide to assign the pixel in question to an ad account that you own? Starting from 'Share the facebook pixel' step.
https://www.jonloomer.com/2017/03/17/share-facebook-aud

[2017-12-06 01:13] PolyMen commented on #177
Sod’s Law! My apologies, but Christmas sales just round the corner! We are waiting for...

[2017-12-06 02:36] pomochoko opened #183 "PROBLEMS WITH PIXEL ON PURCHASE ACTION: Catalog Report Event Match Rate"
hello
I have some issue with the pixel report
the pixel not report at all the purchases event in power editor and in the pixel part in face book I have people purchase but not report at all so for me it's impossible to track from where the purchases comes
I use WOOCOMMERCE last version the dynamic catalogue is upload
if someone have a clue about this it will be welcome

[2017-12-06 07:48] sstiavetti commented on #178
Thanks. Yes, I have an existing pixel for Fearless Fresh. Here's the Pixel ID: 115256959212663

[2017-12-06 10:31] EmmanouilPerdikis commented on #181
Thanks ! But i am still getting the same errors.

Is there any way to remove all pixel code from the site and Re-Install it.
Like a clean install .

On Wed, Dec 6, 2017 at 1:33 AM, Dmitri Dranishnikov <
notifications@github.com> wrote:

[2017-12-06 10:38] EmmanouilPerdikis commented on #181
Also in WooCommerce Subscription i have two FacebookForWoocommerce but i
have only one plugin installed .

On Wed, Dec 6, 2017 at 12:31 PM, Emmanouil Perdikis <thevnd@gmail.com>
wrote:

[2017-12-06 18:35] mengyingdu commented on #165
Hi @crobertwatson,

Sorry for the delay response. I understand your case now and thanks for your explanation with examples. Basically, you want multiple variant **value** (combination), however, we only single value for one attribute in one variant.

I have some workround for you:
1. add attribute 'flavor 1' 'flavor 2' (under 'attributes' tab in woo product editor) -> add all of the flavors to eac

[2017-12-07 05:50] crobertwatson commented on #165
That fixed it. But it sure creates a lot of variations. 20 more than WooCommerce needed to be able to offer the combination of selections. Also, even though the default selection in WooCommerce is set to "any", the product selection dropdowns on Facebook's version of the product isn't. It has selected one each of a random different variety for each dropdown. Not the end of the world, but it would

[2017-12-07 18:42] mengyingdu commented on #165
Hi @crobertwatson ,

Thanks for your feedback. I understand it's better have have 'no default' dropdown for your customized case. However, currently this is limited by our backend API. We will put it on our to-do-list and collaborate with other teams to enable this. Unfortunately, since we are encountering other bugs and performance enhancement request, we don't have the expected timing for this f

[2017-12-07 18:55] mengyingdu commented on #162
Hi @bledfort ,

I think your concern about variable product has been resolved? I will close this issue now, if you have any other questions or need help for our plugin, feel free to open a new issue.

Thanks.

[2017-12-07 18:55] #162 closed

[2017-12-07 18:58] mengyingdu commented on #183
Hi @pomochoko ,

Can you tell me your page or store url? I need more information to investigate your problem.
Also, if you can upload a screen shot for your view at you power editor pixel part, it's best.

Thanks.

[2017-12-07 19:05] fagnersantos commented on #177
Same here... I'm trying to use another tool while they fixed this. :-(

[2017-12-07 19:09] mengyingdu commented on #164
Hi @igogarciamx ,
I checked your website, it seems a test site rather than a real business. Have you ever tried @dmitridr 's suggestion?

Also, I checked your pixel and page, your pixel show it was created by FB employee. Have you ever work with other Facebook team to help you open your business? Or you are an employee but running personal business as part-time?

If it's the second case, I think t

[2017-12-07 20:38] crobertwatson commented on #165
Yup. Thanks for putting that on the to-do list.

[2017-12-07 21:00] mengyingdu commented on #97
Hi @mediaworksmt ,

We support variant description in v1.6.6 in you check our changelog, can you try to upgrade?
However, we have another bug from our shop team:
1. after changing the variant option value, the description doesn't update.
2. If you check the variant description from the product id link (on your right panel of your Woo product editor), they have been sync correctly.

I have flag thi

[2017-12-07 21:09] dmitridr commented on #177
I've asked the catalog team for updates about the fix, stay tuned. Thanks for your patience.

[2017-12-07 21:34] igogarciamx commented on #164
Will follow @dmitridr suggestion :)
And yes, @mengyingdu , I'm a Facebook employee trying to dogfood in a test site (that will become a real site)
I'll try out suggestions this weekend. Thank you both for your kind help.

[2017-12-08 01:14] pomochoko commented on #183
hello there thank you for reply my questions
It seems FB took more than 12 hours for report the purchases in the pixel part in bisness manager
but I have only 50 p cent of my purchase report in power editor
when Im looking in catalogue report all looking fine except this why i they report UNMATCH EVENTS
![capture d ecran 2017-12-08 a 09 10 23](https://user-images.githubusercontent.com/34292066/337

[2017-12-08 01:31] mengyingdu commented on #171
Hi @ramonahaha,

Thanks for your update! I checked your shop site, it's version 1.4.2. However, we enable default variant from v1.6.0, and it's v1.7.2 now. Can you try to upgrade and see whether it works ?

Thanks!

[2017-12-08 07:52] thesilverforge commented on #180
Hi Dmitridr,

Thanks for your reply. I did mean the ordering in the shop. I wonder if there is a setting somewhere in Woocommerce that causes them to be displayed oldest to newest - or is that the default and only setting of Facebook for Woocommerce?

Cheers, Ruthie

[2017-12-08 10:58] PolyMen commented on #177
@fagnersantos If you find good working plugin - note here! OK?

[2017-12-08 10:59] PolyMen commented on #177
@dmitridr Дмитрий, что-то Ваша команда не спешит что-то делать! 4 дня и ничего!

[2017-12-08 11:17] nejccesar opened #184 "All variants displayed in catalog"
Hi,
I am using your plugin and its awesome the only thing that bothers me is when i sync products to facebook all product sync ok and it says its syncing 650 products but when I try to create a product set all variants are displayed as seperate products. Can i make it work so in the product set there is only one product per variant? I will attach a print screen so you will understand it better.
TH

[2017-12-08 12:42] ramonahaha commented on #171
Hi mengyingdu,

Thanks for your answer. But how can I upgrade facebook for woocommerce. I'm looking now for 2 hours and all the usual ways are not working. Even downloading the zip from woo website and uploading to my website is not working. I always have the message File already exists. And I can not find any doc's about it. Must I delete the old version and installing the new version including a

[2017-12-08 13:16] ramonahaha commented on #171
Hi
Thank you for your answer and help. I updated the extension and most things work a lot better than before but on that facebook link I mentioned before there are still 4 variations but I only have 2 on my website. I said before the 2 wrong variations (the last 2 in the dropdown list) are very old ones and I deleted these month age. They are not visible on my website.
Have you got any ideas for t

[2017-12-08 15:46] fagnersantos commented on #177
@PolyMen I'm trying Storeya. It has a limit of 20 products on the free version. I guess I'll use that until Facebook decides to fix this issue, if they will fix.

[2017-12-08 16:42] PolyMen commented on #177
@fagnersantos I think they will, but given that it's free - it will not quickly :-)

[2017-12-08 17:02] vquinlan opened #185 "Variations not syncing correctly on Facebook shop"
Hi
As with a few others on her I too am experiencing issues with my product variations missing from my Facebook Shop.

I have them set to 'Any' as I'd have 500+ variations on each product otherwise. They work fine on my website.

I have ensured i'm using the latest plugin to no avail. I've even deleted / recreated products, deleted Facebook shop and recreated it - still no luck. Any advise would b

[2017-12-08 17:11] mengyingdu commented on #171
Hi @ramonahaha ,

It's probably because you jump form v1.4.0 to v1.7.2 and not all of your changes have been synced.
Can you try:
"Re-configure Facebook Settings > Advanced Options > Delete Settings" and setup  Facebook for WooCommerce again.

Let me know whether it works.

Thanks.

[2017-12-08 17:32] mengyingdu commented on #183
It seems duplicated with #113

[2017-12-08 17:34] mengyingdu commented on #183
Hi @pomochoko ,

We fixed unmatched event issue in v1.7.0. I checked your website and it is using v1.6.0 of our plugin. Can you try to upgrade and check your pixel event later once have another activity?

Thanks.

[2017-12-08 17:46] mengyingdu commented on #184
Hi @nejccesar ,

If you check your Facebook page, it should show correctly: variable product as a one product, and there is drop-down to select variant value.
Your screen shot is the view of your catalog manager 'products' session, so it will show all 'actual' products. It may help understand that each variant of variable product is a 'real' product so it is here individually.

On other notes, you

[2017-12-08 17:59] mengyingdu commented on #185
Hi,

Currently, our plugin and shop set-up(support) is:
1. if you select 'no default' in 'Default Form Values' field of your Woo product editor ==> This is a feature request for our shop team and there is an engineer working on this now. (It means we dont support 'no default value' now, and it default show the last variant of your variants. And you need to set up your all variants in product edito

[2017-12-08 19:27] dmitridr commented on #181
Hello,

Our team is not familiar with the WooCommerce subscription mechanisms or how to resolve issue with those, the WooCommerce support team would probably be the experts on that.

There is a way to reset the plugin, you can do so by clicking the 'Reconfigure' button in settings, then in the popup clicking on 'Advanced Options / Advanced Settings' in the left. And hitting the button that says 'D

[2017-12-08 19:34] dmitridr commented on #177
Ok, the catalog team says the issue is we get a 403 when hitting your servers to try to fetch your product images. Can either of you confirm that you don't have any plugins or server settings to cause this to happen? Something like a plugin to prevent hotlinking enabled?

[2017-12-08 19:50] dmitridr commented on #177
If you do have such settings, could you disable them or whitelist requests by Facebook so that we can fetch your images? I believe the user agent has `facebook` in the string.

[2017-12-08 20:01] EmmanouilPerdikis commented on #181
Thanks for your help and your advices .
I will try to reset and install again.

Do you have any email to contact WooCommerce support team ?

Thanks,
Manolis Perdikis

On Fri, Dec 8, 2017 at 9:27 PM, Dmitri Dranishnikov <
notifications@github.com> wrote:

[2017-12-08 23:14] pomochoko commented on #183
hello mengyingdu yes i have version v1.6.0  but why nothing appears like i should update this on my back office wordpress do you have the link where i can dowload the update or the new version the update will be better i'm little bit "worried" dowload something and break my website so many times i did wrong manipulation
thank you very very much for your help hope it's that the solution

[2017-12-08 23:17] mengyingdu commented on #183
Hi @pomochoko ,

Sure, you can download here [v1.7.2](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.2)
On another note, we enable auto-upgrade after 1.7.0, so you should see that notice in your admin panel if we release new version next time.

Thanks.

[2017-12-08 23:19] pomochoko commented on #183
for install new one i should desinstall old one or just install the the 1.7.2

[2017-12-08 23:22] mengyingdu commented on #183
You should go to 'plugins' tab -> installed plugins -> deactivate 'Facebook for WooCommerce' -> delete
Then install new plugins: upload the zip file and then install. I think it's not complicated to go through if you try the flow.

Thanks.

[2017-12-08 23:26] pomochoko commented on #183
yes is not looking complicated but i'm "scare" lose something I will do it and keep you update at the nex event on the pixel.
Because again the last 24h 3 purchases only one report in power editor so can not decide wich campaign working good no worries if the new update work fine that like make my christmass gift :-)

[2017-12-08 23:29] mengyingdu commented on #183
Hi,

On another side, after upgrading, it should fix the unmatched event for your business in the future purchase. It may not retrieve sth happened before.

Thanks.

[2017-12-08 23:31] pomochoko commented on #183
ok understand and make sense :-) i will do it in next couple hours and waiting the next event(s) and thell you if it's all is fine
this pixel make me crazy ....

[2017-12-09 00:40] dmitridr commented on #180
Hi Ruthie,

It's the default and only setting, right now. When uploading products we iterate through all posts from oldest to newest, which would be why the ordering looks that way on the FB shop.

If you'd like to list the products newest to oldest instead (backwards) we can probably come up with a quick fix for you, you would have to add this fix yourself within the WP plugin editor.

You may al

[2017-12-09 00:54] thesilverforge commented on #180
Hi Dimitri,

A quick fix would be awesome if you could! Newest to oldest makes more sense for me.

I have created collections, however this doesn't change the default display in the main FaceBook page.

Thanks for your help!

Ruthie

[2017-12-09 16:06] glenngsxr opened #186 "FB post publish marketplace setting + shop UI feature request"
Hoping some smart folks here can help me.  I have been running this plugin for awhile very successfully.  I setup new products, it publishes to FB page, all is well.  Something happened recently where FB is publishing my products all over the country as being for sale in areas where we don't operate.  I am getting lots of nasty comments from people on FB angry (rightfully so) that I am advertising

[2017-12-10 11:39] comarastaman commented on #32
I'm having the same issue. It's not with imported products though but all of my new products are not syncing. I've already deactivated, deleted and re-uploaded the extension and it's still having the same issue.

[2017-12-10 23:50] #181 closed

[2017-12-11 03:51] pomochoko commented on #183
Hello the problems continue I had some purchase coming from my advertisement on fb and the result no show up in POWER EDITOR.
I have 2 questions about that maybe one is the more rational reason
1) problems about the thank you page
2) problem with my SKU reference
or both
waiting and litsening all advices for fix that

[2017-12-11 03:53] pomochoko commented on #183
my sku generator for now not provide for variable the sku is for that i open the idea about this reason do you recomend one in particular dome of my product have 5 or more variation (color/size etc)

[2017-12-11 04:57] chillpilllike commented on #125
needs to improve syn of products with big variations. the sync is painfully slow for products with large variations

[2017-12-11 08:52] pomochoko commented on #183
I more and more sure the problem come from something beetween the iniatiate check out and the purchase action because the total of my initiate cek out is very close from the real PURCHASE

[2017-12-11 10:17] chillpilllike opened #187 "How to disable the export of product variations: only sync main product to FB"
Hi,

i would like to disable the export of product variations since i have a lot of variations for each product and syncing it takes a big load and slows down the website.

can we just disable the variations so only the main product is exported.

thanks

[2017-12-11 17:29] sstiavetti commented on #178
Hi there. Any word on this?

[2017-12-11 17:31] sstiavetti commented on #178
Also, the plugin is only accessing my personal ad account, not business. It can’t see my business ad account. That’s the whole reason I’m logging this ticket.

[2017-12-11 17:45] mengyingdu commented on #183
Hi @pomochoko,

I don't think sku is the cause of your problem if you checked https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/includes/fbutils.php#L73.
For variable product, if no sku, we will use variant_id to set up pixel fire event.

After upgrading and having traffic, what did you see in business manager? Any change comparing to previous plugin version?

[2017-12-11 18:32] tahoff commented on #186
Thanks for reporting these issues. From a product perspective, we don't have support to only publish products to certain areas of the country. So maybe the complaints recently began during the holiday season? Or did you just begin running ads, so more people are learning of your business?

I have a few follow-up questions to better understand the issues.
- What's your website's url?
- Which versio

[2017-12-11 18:55] tahoff commented on #187
There currently isn't a way to stop all products of a specific type (ex: variable products) for syncing with Facebook. If you want to delete a specific product from Facebook, you can go to the product page and click "Delete product(s) on Facebook" for each product you no longer want to sync. But you'll have to do this for each variable product.

[2017-12-11 23:53] pomochoko commented on #183
hello mengyingdu  since I Update with the new version some of the PURCHASE EVENT appear in the the right place but till more than 50% NOPE they are report in INITIATE CHECK OUT with the exact amount. Maybe fb register this action first because the moment betwwen the SUBMIT for pay and the validation of the payement is to long or the customer close the page payement page to quick or a problem with

[2017-12-12 00:08] pomochoko commented on #183
{"source":"woocommerce","version":"3.2.5","pluginVersion":"1.7.2","content_ids":"[\"tk6768_6768\"]","content_type":"product_group","value":"35.99","currency":"EUR"} |  
-- | --

for exemple this is report in the PIXEL part in bisness manager in purchase ==>> this purchase happens more than one week ago but the customer came back to check is order so is report in purchase ????

[2017-12-12 00:10] pomochoko commented on #183
the same result report in INITIATE CHECK OUT AND PURCHASE
12 décembre 2017 05:30 | InitiateCheckout | Bureau | {"source":"woocommerce","version":"3.2.5","pluginVersion":"1.7.2","num_items":"1","content_ids":"[\"tk4237_8900\"]","content_type":"product","value":"7.49","currency":"EUR"} | https://truktil.com/commande/
-- | -- | -- | -- | --

12 décembre 2017 05:35 | Purchase | Bureau | {"source":"woo

[2017-12-12 00:16] pomochoko commented on #183
1 décembre 2017 21:08 | InitiateCheckout | Bureau | {"source":"woocommerce","version":"3.2.5","pluginVersion":"1.7.2","num_items":"6","content_ids":"[\"tk4187_6138\",\"tk4187_6136\",\"tk7171_7171\",\"tk5467_5467\",\"tk6833_6833\",\"tk9450_9456\"]","content_type":"product","value":"37.51","currency":"EUR"} | https://truktil.com/commande/
-- | -- | -- | -- | --
this one report in initiate check out

[2017-12-12 01:14] dmitridr commented on #125
Thanks for your feedback. We are definitely thinking of an overhaul focusing on performance.

[2017-12-12 14:35] Jho-Facebook opened #188 "How to delete the plugin or change the pixel"
I have a small issue with the plugin. We are a Ad Agency and send the pixel and instructions to the company´s developer. He did it but because he doesn´t have access to our Facebook Ads account, he associated the Woocommerce for Facebook with the pixel ID for his personal Facebook Ads Account.

Now we can´t change the pixel:
![captura](https://user-images.githubusercontent.com/34481275/33889962-0f

[2017-12-12 16:59] mengyingdu commented on #183
Hi @pomochoko,

Thanks for your detailed information and I'm working on a fix now.
Will update here once it's ready on Github.

Thanks.

[2017-12-12 18:35] mengyingdu commented on #183
Hi @pomochoko ,

As a quick solution, you can replace ['woocommerce_thankyou'](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/facebook-commerce.php#L263) with woocommerce_payment_complete. Keep in mind, this doesn't work for cash on delivery  as its name.

Thanks.

[2017-12-13 00:26] mengyingdu commented on #164
Hi @igogarciamx ,

Any update? Did you fix your problem by @dmitridr 's suggestion?
Let me know if you need more help.

Thanks.

[2017-12-13 01:10] tahoff commented on #188
If you want to re-complete setup, the developer will need to open the popup, go to "Advanced Settings" and click the button to delete settings. This will enable you to re-complete setup with the correct pixel.

This will potentially affect ads in two ways:
1. If you're currently using that original pixel for optimization, and you change the pixel, then the ads will not perform as well.
2. If you'r

[2017-12-13 01:21] glenngsxr commented on #186
Thanks for the reply.  I deleted and reinstalled the FB for Woo plugin and my integration page is back so that's good.  As for the original issue, I am currently not running any ads so I'm not sure why people are getting served these all over the country.  I am not sure if they are being posted into marketplaces or as posts, but they are being served up and people are getting angry about it.  See

[2017-12-13 03:03] pomochoko commented on #183
hello there is no link for woocommerce_payment_complete.  and i'm not sure how to do it
all customers pay by card never cash :-)

[2017-12-13 10:48] mmtomm commented on #101
Hello,

me again with the same issue but this time it appears without doing a product duplication but with a new product from scratch (type virtual).
It does produce again strange fb-IDs like https://www.facebook.com/1.4457353822194E+15
any idea?
Thank you

[2017-12-13 16:45] oakidoaki opened #189 "Unable to create variable product in Woo when plugin Facebook for Woocommerce is active"
Had an issue with an customer not being able to add variable products. In short, the setting for variable product wouldn't stick.

I noticed an error (500) in Chrome insights concerning admin-ajax.php when trying to add attributes for variants after the product was saved once.

The only thing new in her store was Facebook for Woocommerce. Problem disappeared when disabling this product.

Can recre

[2017-12-13 17:57] dmitridr commented on #101
Hello,

Can you send a screenshot of where you are seeing the strange ID?
Detailed steps to reproduce the issue would also be helpful!
I have tried to create a new virtual product but I cannot reproduce the problem on our side...

So I suspect the problem is potentially due to a conflict with another one of your plugins.

P.S. We've fixed the old duplication issue, the fix will be out in the next

[2017-12-14 01:48] mengyingdu commented on #183
Hi @pomochoko ,

I mean literally replace 'woocommerce_thankyou' with 'woocommerce_payment_complete' in that line.

Thanks.

[2017-12-14 01:55] pomochoko commented on #183
I'm sorry i'm to much "beginner" for understand and do it this kind of modification with out a full tuto or more explicitationif I use a plug in for that should be for me "simple" if you understand my position :-)

[2017-12-14 08:30] mengyingdu commented on #183
Understand that, I will update here later.

[2017-12-14 08:40] pomochoko commented on #183
ok i just did update Version 1.7.3  I think I'm not the only ONE people with this problem ??? or people not track their advertisement on FB ??

[2017-12-14 08:42] pomochoko commented on #183
because again yesterday people add to cart ==>>> initiate check out ==> purchase and I have 1/1/1 in each column if the people going till purchase should be 1 in purchase the final fire event right??

[2017-12-14 08:52] mengyingdu commented on #183
Hi @pomochoko ,

I have a fix for this issue, however, since purchase event is 'REALLY' important for pixel tracking, we hold on it to release and plan to set up more exhausting testing with more payment way. It means v1.7.3 doesn't include my fix for this. We need to set up more bank/paypal 3rd party payment processor to do this testing. But we will definitely include in next release v1.7.4.

If

[2017-12-14 08:56] pomochoko commented on #183
why not if your pre release not making more trouble in my web site and can help

**====>>of course PURCHASE EVENT is the most important <<======**

[2017-12-14 12:30] mmtomm commented on #101
Hello,

it is only arbitrary to reproduce.
It happens while creating new products of any type (from the scratch or from duplicating), but also when I use the 'reset facebook metadata' link.

the screenshot shows the ID which forms this link:
https://facebook.com/1.4457353822194E+15
![screenshot-2017-12-14 produkt bearbeiten guterstoff wordpress](https://user-images.githubusercontent.com/31536991/3

[2017-12-14 16:07] tahoff commented on #189
@oakidoaki Thanks for filing this issue. This is a new issue, so screenshots and your website url would be very helpful in debugging this issue.

[2017-12-14 16:47] mengyingdu commented on #183
Hello again,

If you are interested, can you send an email to ads_extension_woocommerce@fb.com so we can know your email address?

Thanks.

[2017-12-14 20:42] mengyingdu commented on #184
related to #162

[2017-12-14 20:43] mengyingdu commented on #184
Hi @nejccesar ,

I understand your concern (I guess you saw this in Catalog Manager?) but you need not worry, the way Dynamic Ads work no product within the same product group will appear in the same ad. Therefore only one variant of each product will appear in any ad to any user at any one time.

[2017-12-14 20:43] #184 closed

[2017-12-14 22:03] dmitridr commented on #123
Thanks to the engineer who built the BigCommerce plugin that jumped in and fixed this issue, this problem has been fixed.

@bebemarketplace @yatanasov I can load both of your shops on desktop now. If the problem re-occurs feel free to open a new issue and reference this one. Thanks for your patience.

[2017-12-14 22:03] #123 closed

[2017-12-14 22:20] dmitridr commented on #176
We should have some minimal support for WPML v3.2 and above starting from our next release, based loosely on your fix here.

[2017-12-14 22:21] yatanasov commented on #123
Thank you very much for helping with this !

[2017-12-14 22:29] dmitridr commented on #12
Looks like it's a generic problem with the pixel, not specific to our plugin. Our pixel team is working on a potential fix.

[2017-12-14 22:33] dmitridr commented on #122
Going to close this as there has not been a response for a while.

- We fixed the 'Duplication' problem in the original issue in the new version v1.7.3
- I think Mengying's comment explains the 'mistake' you saw. There's a temporary time during which the product is processing after update, this has to do with our system reviewing your product for policy compliance.

Feel free to open a new issue a

[2017-12-14 22:33] #122 closed

[2017-12-14 22:35] dmitridr commented on #44
Happy to say that @mengyingdu committed [code to enable bulk edit compatibility](https://github.com/facebookincubator/facebook-for-woocommerce/commit/ae0ad3e7e326261b35c4d5832a42f023cb40f10c), coming soon in v1.7.4.

[2017-12-14 22:43] dmitridr commented on #48
We've passed this to the shops team as a feature request to allow non-square images as an option.

They also shared with me some insights about their testing of non-square images in the past: these don't look good in the shop when enabled. We have gotten a lot of negative customer feedback in the past. Recommend to anyone reading this to bite the bullet and create square images for FB.

If there's

[2017-12-14 22:49] dmitridr commented on #66
Closing because there hasn't been a response in a while. If you do still have the same problem, consider upgrading to the latest version v1.7.3, and doing a complete reset of the plugin. We have made many changes since and it's possible the problem will no longer occur.

Feel free to open a new issue and reference this one if the problem persists and you'd like to continue discussion.

[2017-12-14 22:49] #66 closed

[2017-12-14 22:59] dmitridr commented on #101
Hello Tom,

- One thing I recommend trying, is to temporarily deactivate all plugins except Facebook for WooCommerce and WooCommerce. Then seeing if the problem still occurs. If the problem goes away, there is a conflict with one of the plugins.
- You should also consider upgrading to [v1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3), the duplication probl

[2017-12-14 23:48] dmitridr commented on #159
Following up here :
In order to display the API key error, we check two things 1. The API key is in the DB. 2. The API key can be used to fetch the page name.

The code for that can be seen [here](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/facebook-commerce.php#L2157).

Since you verified the API key is in the DB it is likely this second step failed in this case. So

[2017-12-14 23:56] dmitridr commented on #178
Hi,

Thanks for your patience. I've confirmed that the pixel ID you gave is not attached to any ad account, but is under your business. Could you please attach it to an ad account, following the steps provided in this guide?

https://www.jonloomer.com/2017/03/17/share-facebook-audience-pixel/

The section titled 'Share The Facebook Pixel' is the most relevant for this process.
Once you do this, if

[2017-12-15 02:29] pomochoko commented on #183
i sent you email this is automatic answer i get

Thanks for your message. We're no longer responding to emails that are sent to this address, but we have 2 new ways to get help:

Facebook Help Center: We answered frequently asked questions about using WooCommerce on Facebook in this article.

Our GitHub repository: If you think you've found a bug, please file it in this repository so it's visible

[2017-12-15 02:39] mengyingdu commented on #183
Hi @pomochoko ,

I received your email and yes,that is our auto reply. I will reply to your email with detailed instruction after meeting. Thanks.

[2017-12-15 03:05] mengyingdu commented on #183
Hi @pomochoko ,

I just replied to you.
As for the auto reply, we stop email channel support for a long while. So if you have further questions, feel free to ask on github.

Thanks.

[2017-12-15 07:55] rirgang commented on #151
Thanks for the tip @mengyingdu , we have more problems here. I used a bulk editor to have a generic description for all products.

When doing the sync continues taking the description of the variation. If you have already done the sync and go modify the facebook description in the product, it updates on facebook

Another very annoying problem is that when doing the sync everything gets very slow a

[2017-12-15 13:29] PolyMen commented on #177
Hi pals! Everything, what I can say, that use [Swift Perfomance](http://swift-performance.swteplugins.com/) for caching

[2017-12-15 15:00] tahoff commented on #188
I'll close this issue for now. Please let us know if this strategy doesn't work for you.

[2017-12-15 15:00] #188 closed

[2017-12-15 15:14] tahoff commented on #186
Based on the comments I've read on a few of the products, it looks like people are interpreting the shop section as ads. And they likely come to your Facebook page from a variety of places; such as, referrals, search engines or maybe your Page was included in the "Suggested Pages" section on someone's News Feed.

If your products are only available in certain areas, I would recommend including tha

[2017-12-15 17:08] mengyingdu commented on #151
Hi @rirgang ,

It seems you mentioned 2 problems here, let's divide them:
1. When saying 'bulk editor', is that a WooCommerce plugin? Or the built-in WooCommerce Bulk Edit in 'all product' page?
2. sync slow down: Did it happen when you sync all products or just one product?

Thanks.

[2017-12-15 21:14] dmitridr commented on #177
Can you try a full reset of the plugin (Reconfigure > Advanced Options > Delete), then deactivating Swift Performance, then setting up again and seeing if the images will load in the Shop and Catalog Manager?
Then if all is well, it should be okay to enable Swift Performance again.

[2017-12-16 01:12] sstiavetti commented on #178
No -- the pixel IS already in my business account. I shared it months ago. In fact there are TWO pixels attached to my business account. See attached. The problem is that the plugin still won't see my business ad account -- it only sees my personal ad account.

Or, maybe there's a different cause to this problem. Here's the whole story:

I created the old pixel under my personal ad account. Then F

[2017-12-16 03:44] rirgang commented on #151
Hi @mengyingdu

The bulk editor is a premium plugin. I've edited all the descriptions, I have left the same for all products ... check out the store details bla bla bla ... hehehe

The description appeared correctly on the products, I was careful to make sure everything was correct.

Then delete the settings and start a new feed for facebook. But it still shows the description of the variation and

[2017-12-16 16:30] ingegnocreativo commented on #131
Hello everyone, sorry if I reopen this post, but I have the same problem, the synchronization of products is done correctly, but you can not see the images on facebook.

WooCommerce: Version 3.2.6
Facebook for WooCommerce: Version 1.7.3

You can help me?

Thank you

[2017-12-16 17:47] nguyenanh17 opened #190 "facebook pixel "add to cart" can not be actived"
Dear everybody
I used facebook-for-woocommerce v1.6.0, i see this version is very ok but when i change or upload new product, it can not be synced to facebook product catalogue.
When i upgraded it to v1.7.1, i see a big problem, the facebook helper can not receive the pixel "add to cart" when i add a product to cart and can not receive other value (product id, total price in the cart)
Please help

[2017-12-16 17:51] ingegnocreativo commented on #131
Hi, I remembered that all product images have an external URL from Amazon. Can this help you?

Thank you

[2017-12-16 19:52] cesneris commented on #30
Hi again, after last update (version 1.7.3) I see that this default line looks different:
'name' => WC_Facebookcommerce_Utils::clean_string(
        $woo_product->get_title()),

How should I change it now?

Thank you.

[2017-12-16 20:04] cesneris commented on #30
Ah, sorry, I think I managed by myself.
It looks like this line works just fine:
[code]

[2017-12-16 21:39] oakidoaki commented on #189
Hi. New version of Woocommerce since last time.

I have the same problem, but wasn't able to reproduce the error I saw in
insights.

Adding screens. It's with and without Facebook for Woocommerce plugin
activated.
3 steps each. New product. Pre save. And post save.

It's Norwegian language, but I think you catch the drift.

As you see, with the plugin there is a combo for simple product
(enkeltpro

[2017-12-17 01:15] huebschie commented on #134
We are having this same issue. Only a few of our many products are showing on our Facebook shop. We'd very much like to link the two. Any thoughts? (www.facebook.com/ovrride/)

[2017-12-17 05:57] Nibiko commented on #134
I have exactly same issue. My products are synced to Facebook. and Ive products catalog.
However my shop is empty. Any solutions?

[2017-12-17 12:02] barefiction opened #191 "incompatibility issue with WooCommerce Membership: Incorrect price exported when membership plug is in use"
When store uses Woocommerce Membership, the Facebook for Woocommerce plugin is taking the price for a product based on what the Admin User would pay as per the Woocommerce Membership plugin's discount methods.

Meaning that whichever call the Facebook for Woocommerce plugin is using to get the product price, it is also taking into account the other plugin's discounts for an admin user who is a mem

[2017-12-17 17:55] PolyMen commented on #177
@dmitridr I will try today

[2017-12-17 22:46] mengyingdu commented on #151
Hi @rirgang ,

Currently, there is incompatibility issue with bulk editor plugin (similar #95 #70 #141 ) before.
My [commit](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/facebook-commerce.php#L204) last week should support Woo builtin bulk edit, however, we may release new version 2 weeks later (due to internal policy).

Can you try to download plugin from github (not

[2017-12-17 23:03] mengyingdu commented on #32
Hi @comarastaman ,

Not sure whether your problem is the same as this issue and sorry for delayed response since this issue is old. Can you send us your store url or fb page? Are you using the newest version?

Thanks.

[2017-12-18 00:49] mengyingdu commented on #183
Hi @pomochoko ,

Did that fix your problem? Can you confirm your purchase now?

Thanks.

[2017-12-18 00:53] pomochoko commented on #183
Nothing change you told me you will give me a release for testing you not sent the pre release so nothing change
1 addto cart = 1 initiatecheckout = 1 purchase
OR the information stay in initiatecheckout and the customer purchase so can not adjuste my campaigns and not doing any retargeting because how come i retarget initiatecheck if they bought ???

Waiting your light for clear that

[2017-12-18 00:58] mengyingdu commented on #183
I sent instructions and pre-release zip by email on Thursday. Can you check your gmail? (maybe Junk as well since the attachment is very large)

I'm pretty sure I sent it and I can check it in my emailbox record..

[2017-12-18 01:09] pomochoko commented on #183
yes i have a mail from you in JUNK box but is mail FAILL the gmail not dowload at all maybe better to put the file on drop box or I give you other email NOT GMAIL let me know the best for transfert big files

[2017-12-18 01:09] pomochoko commented on #183
sorry for give you more jobs

[2017-12-18 01:21] mengyingdu commented on #183
Sorry, we are not allowed to share file via dropbox externally..

Are you using IE browser? I found some resource may help you: https://productforums.google.com/forum/#!msg/gmail/LOhKkssPdSo/DV6d4RSFKgQJ

Also, I just sent it again and separate it into 2 emails, can you try:
1. follow the suggestion in google forum to set up your browser
2. download.
Let me know whether it works.

Thanks

[2017-12-18 01:54] pomochoko commented on #183
receive the video but not yet the new release i will update you when it's done thank

[2017-12-18 03:43] pomochoko commented on #183
not yet receive zip file just video

[2017-12-18 03:45] mengyingdu commented on #183
resent.

[2017-12-18 03:53] pomochoko commented on #183
1.7.3 is install since more than 4 days and still the problem
I don't understand I'm the only one have this problem no body had report this except me

[2017-12-18 03:55] mengyingdu commented on #183
Hi,
If you read through my email, the link is your concern about how to roll back.
There should be a zip file as attachment in that email as well. Did you find it?

[2017-12-18 03:59] pomochoko commented on #183
![capture d ecran 2017-12-18 a 11 57 30](https://user-images.githubusercontent.com/34292066/34089414-ca557f3a-e3ea-11e7-898e-56ca4f020bd1.png)
you can see 9H21 one attachement the video all other mail no attachement

[2017-12-18 04:07] mengyingdu commented on #183
I see, it seems it was blocked due to security issue.
Actually, you can download zip file from github directly (but not the release page). Since you told me you are absolutely beginner, I didn't propose this approach, sorry for the back and forth!

Step to download:
1. go to 'code' tab (if you go the the head of this page, you are on 'issue' tab now, and code tag is left aside it)
2. click on the

[2017-12-18 04:11] pomochoko commented on #183
the name of the file is facebook-for-woocommerce-master.zip

[2017-12-18 04:12] mengyingdu commented on #183
yes

[2017-12-18 04:13] pomochoko commented on #183
ok i will try it and report after the next purchase event on my site

[2017-12-18 17:47] mengyingdu commented on #190
Hi @nguyenanh17,

Since you upgrade to v1.7.1 from 1.6.0, there maybe too many changes which cause your problem. Can you try our latest version [v1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3) and then:
1. go to "WooCommerce Settings" --> "integration" --> facebook for woocommerce --> re-configure facebook settings
2. "force product re-sync"

Let me know

[2017-12-18 17:55] mengyingdu commented on #189
Hi @oakidoaki ,

There is no pictures in your comments, did you upload them?

Thanks.

[2017-12-18 18:11] mengyingdu commented on #189
I checked your store which seems has already deactivate plugin.
1. Are you using [v1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3) ?
2. What other plugins are you using? eg WP all import ? or sth else?

We need more information eg. screen shot pictures in order to repro your problem.

Thanks.

[2017-12-18 18:26] oakidoaki commented on #189
Believe everything is the latest versions (provided it supports auto
update).

It's correct, the plugin is deactivated. Because the store manager adds
products. I activate and force resync on request.

I uploaded screens in the email reply. Guess I have to add in the git thing.

I'll do that later on after a nap :)

Kai

18. des. 2017 19:11 skrev "mengyingdu" <notifications@github.com>:

[2017-12-18 19:06] mengyingdu commented on #191
Hi @barefiction ,

Is Woocommerce Membership  a plugin you currently using? We didn't hear about this problem before. If so, this maybe a compatibility issue. Can you give us more context?
Also, I would recommend installing latest version [v1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3) since we add more security gate in it.

Thanks.

[2017-12-19 06:25] oakidoaki commented on #189
Doesn't seem like Facebook for Woocommerce (at my version) does auto
update....

I had 1.6.4 - unaware that there was any new version.

I'm dowloading 1.7.3 now to see if the problem still is there.

Kai

2017-12-18 19:25 GMT+01:00 Kai Olav Fredriksen <kai@oaki.net>:

[2017-12-19 06:41] oakidoaki commented on #189
Problem is gone with 1.7.3.

Kai

2017-12-19 7:25 GMT+01:00 Kai Olav Fredriksen <kai@oaki.net>:

[2017-12-19 08:12] mengyingdu commented on #189
Hi @oakidoaki ,

Glad to hear your problem has been solved!
Just want to clarify: Auto-upgrade means that you will get 'upgrade' notice in your Woo Admin, you still need to click on the button to upgrade. For example, in wordpress plugin page you may see the attached screenshot:

Before this upgrader was enabled, you WON'T receive this notice. This is because Wordpress will ONLY check version upda

[2017-12-19 08:12] mengyingdu commented on #189
I will close this issue now since the latest version works for you.
Thanks.

[2017-12-19 08:12] #189 closed

[2017-12-19 12:13] igogarciamx commented on #164
Hi! I decided to connect the whole ecommerce ecosystem with Shopify and they provided a specific OTB solution. Thanks for following up so closely.

[2017-12-19 15:29] guzun opened #192 "AddToCart event is not tracked"
Hi there.

We are using this plugin on a site which redirects to the cart page after successful addition of a product.
https://i.imgur.com/6mXgn59.jpg
And in this case the 'AddToCart' event is not tracked.
If I uncheck that option, then it works.

Is there a way to make it work with the redirect to checkout ?

Thank you,
Alex

[2017-12-19 17:04] mengyingdu commented on #164
Glad to hear your find the approach for your business. Let us know if you have further questions.

Thanks.

[2017-12-19 17:04] #164 closed

[2017-12-19 17:24] mengyingdu commented on #192
Hi,

I can repro your issue on our demo store. However, the way for 'AddToCart' works is hook on Ajax action. So if you set 'redirect to cart page' (whether you checked or unchecked "Enable AJAX add to cart buttons on archives", this event can't be fired.

Thanks.

[2017-12-20 00:41] planetpopc commented on #141
Hi there, i have the same problem, and absolutely struggling to make sense of it all. I had products that were either hidden, private, or in trash, and they still show up in Facebook store. I have now also deleted the items form the trash ( which i did not want to do ), and they still show up in on the Facebook store.

[2017-12-20 09:03] mengyingdu commented on #190
could be similar to #192

[2017-12-20 09:07] mengyingdu commented on #141
Hi @planetpopc ,

What's your plugin version? We have better support for visibility and trashing after v1.7.0 and now the latest version is [1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3). Can you upgrade and then force-resync? It should resolve your problem.

Let me know if you need more help.

Thanks.

[2017-12-20 17:15] glenngsxr commented on #186
Would it be possible to change "sold by....." to "for rent by.....".  See attached picture.
<img width="413" alt="for rent an option" src="https://user-images.githubusercontent.com/34399975/34219516-a2e77234-e56e-11e7-8647-9cc65f17983f.PNG">

[2017-12-20 18:13] mengyingdu commented on #191
Hi @barefiction,

I checked your issue and it should be a compatibility issue between WooCommerce Membership and Facebook-for-WooCommerce.

Also, I found some resource which restrict sale to membership only (it may not be your original goal, but maybe helpful to fix your problem). https://gist.github.com/bekarice/6e4b69698952c61b86a0

Our dev team is prioritizing fixing bugs and perf for now. Howe

[2017-12-20 18:26] mengyingdu commented on #186
Hi @glenngsxr,

Thanks for your suggestion and this should be feature request for Facebook Shop.
We have similar design feature request for external product #120 (change to 'recommended by XXX'). I will flag this to our shop team but I don't have the expected timing for now.

Thanks for understanding.

[2017-12-20 19:15] mengyingdu commented on #186
As for your original question about how to limit your post audience, this should be in your post setting (nothing related to plugin). I helped you find some resource and i have confirmed it (after publish->edit post->limit location)
https://www.youtube.com/watch?v=jeMSmc3_iRQ
![limit post location](https://user-images.githubusercontent.com/24535640/34224245-1cb73aec-e577-11e7-96f3-f8137814ba90.jpe

[2017-12-20 19:21] mengyingdu commented on #183
Hi @pomochoko,

Just want to check: do you still have this problem? Does the pre-release version work for you?

Let me know if you need more help.

[2017-12-20 19:29] mengyingdu commented on #159
Hi @Xentar ,

Just want to check, do you still have problem to set up?

Let me know if you need more help.

Thanks.

[2017-12-20 20:57] Xentar commented on #159
Sorry, i dissapeared for some time cause the dates. I could not do the tests deactivating the others plugins, but did an update of the plugin (latest version 1.7.3) and the issue is still there. Going to try tonight to do the test deactivating all the plugins, so stay alert (hehe). Thanks alot for the concern.

[2017-12-20 23:19] Kewayne commented on #159
Hey @Xentar I had the same problem yesterday and I just got it fixed

[2017-12-20 23:59] glenngsxr commented on #186
Hi, this certainly does work if you have post a certain product.  When you
post, you can limit where to.  However, my whole shop is publishing
everywhere all the time.  I don't have the option from my catalog to change
where it is shown.  That would be fantastic if I could, though!

On Wed, Dec 20, 2017 at 12:17 PM, mengyingdu <notifications@github.com>
wrote:

--
Glenn Carlson
Lend Me Your Gear

[2017-12-21 00:56] mengyingdu commented on #186
Hi,

There are some workaround:

1. I did some research and found location limit for page audience has been removed:
![shop location setting](https://user-images.githubusercontent.com/24535640/34235311-9ae98a40-e5a5-11e7-8396-917415a1c60b.jpeg)

However, on 'page' level, admin user can limit country-level audience, but not specific region.
https://www.facebook.com/help/778445532225441?helpref=faq_

[2017-12-21 02:24] Xentar commented on #159
@Kewayne and how you fixed it?

@mengyingdu  no luck, deactivated all plugins and got the same message if i went back to "integrations".

[2017-12-21 02:42] Kewayne commented on #159
I think it is something deactivated by your hosting company "**The Outgoing Connections**". That was what happened to mine. I contacted my hosting provider last night after testing the facebook-woocommerce on another site on a different host and it worked.

Attached is the ticked i submitted to them.

I hope this will help fix your problem. Please consider giving me a small donation. Thanks my Pay

[2017-12-21 14:06] jclewell opened #193 "Price sync issues when scheduling a sale"
When I schedule a product to be on sale, Facebook updates to the sale price immediately, instead of on the day it's supposed to be marked down. Clearly, that's an issue when FB shop shows discounted price and website doesn't yet.

[2017-12-21 16:14] Xentar commented on #159
@Kewayne  sadly i already did that some time ago. I have full control over cpanel and php, so i activated the allow_url_fopen, and all the same... so is no the same-same. But still could be something with the hosting, and is probably, because...

@mengyingdu  i did some test and found out that, like you suggested some time ago, don't fetch the page name. Looking out why.

[2017-12-21 17:19] mengyingdu commented on #159
Did you ever try to set up with a brand new page without visibility restrict (which is suggested by @dmitridr )?  If there is no API key problem in such a case, the problem is likely with the specific page.

[2017-12-21 17:25] mengyingdu commented on #193
Hi @jclewell ,

Which version are you using? We should support 'sale schedule' from [v1.6.2](https://github.com/facebookincubator/facebook-for-woocommerce/blob/master/changelog.txt#L59) if you check the changelog.

I would recommend you to upgrade and then 're-config' --> 'force sync'. All of this should be in your : woocommerce -> settings ->integration page.

Let me know if you need help. If my

[2017-12-21 17:46] mengyingdu commented on #172
Hi @Runstat ,

We have basic support for variable subscription products in latest [commit](https://github.com/facebookincubator/facebook-for-woocommerce/commit/2a12f7d6d8bac86421879166fb87fb451fbe07c4) which will be included in the next release. If you are eager to try, you can just download from clone zip file.

Thanks.

[2017-12-21 17:51] mengyingdu commented on #171
Since there is no more follow-up questions in 2 weeks after last suggestion, it seems works for you .
I will close this issue now, but feel free to open a new issue if you have other question.
 cc @ramonahaha

[2017-12-21 17:51] #171 closed

[2017-12-21 17:56] mengyingdu commented on #169
Hello,

We fix this in [commit](https://github.com/facebookincubator/facebook-for-woocommerce/commit/44d071341638e43b8ba806000cee85a3da379d9d) and it's included in [v1.7.3](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.3) now. Can you try to upgrade and check whether your issue still exist?

Thanks.

[2017-12-21 18:31] #152 closed

[2017-12-22 02:05] dmitridr commented on #178
Hi,

Thank you for the extremely detailed screenshots and screencast. I think I understand the issue...

@"Suddenly this ad account appears" (in your last screenshot)
This is actually a business account, and not an ad account. (Hence why it says `business id`)
Yes the pixel is in your business account, but unfortunately that is not enough for our plugin, it must be in an ad account. Let me explain

[2017-12-22 09:46] acmanbd commented on #134
I have a similar problem. It was working fine but all of a sudden it stopped working and our products are not syncing with facebook shop. Please let me know what to do?

[2017-12-22 15:44] PowerhouseGroup commented on #131
Hi, I am using this plugin for the first time and the issue I have is that on the "shop" page in FB only about 4 images show up out of over 1000 products. However if you click any product, the image of every product I have checked shows up in the popup, so the images are being pulled. Any thoughts on how to fix?

[2017-12-22 17:10] mengyingdu commented on #192
Hello,

Some context: We use 'after cart' hook before (but it raise double fire issue for the user opt-out 'redirect to cart') and then we change to add_to_cart which hook on the button click. However, this will have the issue you have when u opt-in redirect to cart.

1. We could change back to original code, however, it has problem for more users..
2. Alternatively, we can check your setting and

[2017-12-22 17:12] mengyingdu commented on #190
Hi @nguyenanh17 ,

If you opt-in 'redirect to cart after add' like in issue #192 , can you try the workaround i suggested in that issue? I confirmed in my test store, and it works.

Thanks.

[2017-12-22 17:25] guzun commented on #192
Hi, thanks for the explanations.
Yes, indeed, using other hooks creates other issues.
So I ended up disabling the redirect.
It doesn't change much the user work flow, but instead  'AddToCart' event is firing for all the products now.

Thanks again for the help. Really appreciate it.
Alex.

[2017-12-22 17:43] #192 closed

[2017-12-24 21:43] joanesle commented on #134
Looks like I'm having the very same problem.  Products don't sync.  At one point WC has assigned a facebook ID to the products, but they don't show up facebook.

[2017-12-25 16:01] joanesle commented on #32
Yes, I'm using the newest plugin version

The store url:
https://www.globeinteraction.com/art-shop/

Facebook page url:
https://www.facebook.com/globeinteraction/

[2017-12-25 23:07] rastroks commented on #45
How can I show on Facebook products with only a price? Those products that have a presence in the warehouse. Thanks!

[2017-12-26 06:07] MarcusWernicke opened #194 "Exclude variations that are "virtual" products from export to Facebook && No Visibility Option for Variations"
I have only 6 products, each of which has 2 variations, "email only" and "printed", whereas "printed" is an actual physical product but "email only" is a digital print-at-home version of the same product. Virtual products are prohibited for shops on Facebook, and as there is no way to exclude specific variations from being exported, I cannot use the plug-in at all (since it exports the virtual pro

[2017-12-27 12:35] chillpilllike commented on #119
simply give an option to generate the feed for facebook catalogue and leave an option to not sync the products for site with many variations, this will stop the site hangs.

[2017-12-28 20:38] sammul commented on #134
@Nibiko @acmanbd @joanesle Can you guys send me the url link to your Facebook page so that I can check whether your shop is blocked or not?

[2017-12-28 20:41] sammul commented on #194
@MarcusWernicke Sorry that there currently isn't a way to stop all products of a specific type (ex: variable products) for syncing with Facebook. If you want to advertise only email products, you can create a product set for these products and advertise on it in www.facebook.com/products.

[2017-12-28 20:42] sammul commented on #194
#187

[2017-12-28 21:20] Nibiko commented on #134
https://www.facebook.com/catsvsdogsgiftshop/

Thanks

On Fri, 29 Dec 2017 at 6:38 am, Xia W <notifications@github.com> wrote:

[2017-12-29 00:07] sammul commented on #134
@Nibiko It turned out your issue is different than the one here: we suspect that you didn't toggle on shop feature during setting in the extension. Would you mind go through the setup again and make sure the shop option is on. Remember that doing this will override your current shop in your page, which seems setup by you manually.

[2017-12-29 00:32] Nibiko commented on #134
Could you tell me where is the shop option setting in the extension? I
tried to delete plugin and re activated a couple time but nothing changed.
If you can screen shot, really appreciate.

On Fri, 29 Dec 2017 at 10:07 am, Xia W <notifications@github.com> wrote:

[2017-12-29 00:37] sammul commented on #134
@Nibiko Did you toggle on this?

![Uploading Screen Shot 2017-12-28 at 4.36.05 PM.png…]()

[2017-12-29 11:03] Nibiko commented on #134
Hi I checked my setting and I don't have the button which add products to a facebook shop.

![0135ffff5cfd39cf4d527513c418bf859d8ff20b1b](https://user-images.githubusercontent.com/34614275/34435752-9effa0c8-ecdb-11e7-96e0-f2aacc306286.jpg)

what have i done wrong??

[2017-12-29 19:35] adrenalinmototoys commented on #134
@Nibiko  and @sammul I do not have that button neither.  I have been passed back and forth bewtween FB help and woocommerce help each placing blame to the other.  THIS IS THE FIRST I have seen this button with the option to push products to the facebook shop tab and not just into my fb ad manager catalog like everyone else is complaining about here.  PLEASE tell me why we don't see that option?  H

[2017-12-30 23:04] phillipswdc opened #195 "Cannot delete settings"
I am trying to delete settings from the advanced options -> advanced settings area of the plugin in the integration tab of Woocommerce.

When I try I get the following error...

Sorry, something went wrong. This might be a temporary issue and we're working to get it fixed as soon as we can. Please try again later.

Any insight into the problem would be appreciated.

Thanks
Kevin

[2018-01-01 20:32] jmrkela opened #196 "After sync, product images shown repetatively"
Hi There,

After product sync, images for some of my products are displayed multiple times (up to four times) in the shop section of my page.

Please see attached screenshot.

![17df72ee-6eb8-4d7a-a4e9-2796b28b3928](https://user-images.githubusercontent.com/35010752/34470851-7d76c4e2-ef9f-11e7-9113-c670c3742816.jpeg)

Any way around this?

Best regards,

JM

[2018-01-02 03:19] fashionunlimited opened #197 "How to Change Facebook Page"
Hi
I have integrated one of my Facebook page, but now I want to remove this Facebook page connection and want to integrate new Facebook page. I have tried to do Re-configure Facebook Settings, but it is not working.
<img width="691" alt="re-configure screen" src="https://user-images.githubusercontent.com/34994145/34473519-ccee188a-ef41-11e7-9c84-95687e954d5a.PNG">

<img width="944" alt="facebook s

[2018-01-02 15:01] grabrail commented on #141
Hi, I am also having this issue, I am on version 1.7.3 and have resynced but my "deleted" products still appear on my FB page, with no way to manually delete them

[2018-01-02 18:59] mengyingdu commented on #183
Hi @pomochoko ,

Hope it works for you? You can also go to your catalog manager to check pixel event. Let me know if you need more help.

Happy New Year.

[2018-01-02 20:40] sammul commented on #134
@Nibiko the screenshot you sent is after setup, which is our control panel. What I sent in this thread is the screenshot for the initial setup. Would you mind to try to delete everything and set up again, and to see if the shop option comes up or not?
cc @adrenalinmototoys

[2018-01-02 20:59] 7thcirclegit opened #198 "Woo store not posting products"
I have a store (https://www.saintanthonyscorner.com) with  3755 items linked to my FB store (https://www.facebook.com/pg/Saint-Anthonys-Corner-151195452196232/shop/). Everything appears to be configured correctly but no products sync to my FB store.

`
### WordPress Environment ###

Home URL: https://www.saintanthonyscorner.com
Site URL: https://www.saintanthonyscorner.com
WC Version: 3.2.6
Log Di

[2018-01-02 21:33] jieminz22 commented on #195
Hi,

Can you send us your store URL so we can take a look on our side? Thanks.

[2018-01-02 22:12] 7thcirclegit commented on #198
I also get the following error sometimes.

Facebook extension error: Facebook for WooCommerce
Unsupported post request. Please read the Graph API documentation at https://developers.facebook.com/docs/graph-api

[2018-01-02 22:19] jieminz22 commented on #196
Hi,

Did you check your catalog? Are there also duplicate products as well? You can send us your store URL so we can take a look from our end.

[2018-01-02 22:45] jmrkela commented on #196
Hi,

Here's my store url:
https://www.facebook.com/pg/JPWallArtStore/shop/?ref=page_internal

This is not about duplicated products but about duplicated product images.
Product list in catalogue matches one on my website so that is fine.
The issue is that on some of the products, product images are duplicated,
some are triplicated and some even quadrupled.

I have attached details about single pro

[2018-01-02 22:47] jieminz22 commented on #198
Hi,

When did you see this error? Could you share a screenshot? Also, did you delete the settings?

Thanks.

[2018-01-03 01:31] fashionunlimited commented on #197
HiI have already tried but it's not working. After click does not give any reaction.I tried in Mozilla Firefox and Google Chrome both. Also in Google Chrome I havetried with Ctrl + Shift + N also.
Regards.

 Ambrish V Parmar
BS (Civil Eng)
Alpine USA Construction LLC
General Contractor
1981 State Route 27
Somerset, NJ 08873
Phone: 732 991 0789
Fax: 732 640 5335

      From: jieminz22 <notification

[2018-01-03 03:16] 7thcirclegit commented on #198
I will share the screenshot the next time I see it. It shows up as it feels on this site and my other store, but that one does not have any products yet. No settings have been deleted, the plugin was installed and configured within the last 3 days.

[2018-01-03 12:46] Nibiko commented on #134
I disactivated and deleted the plugin, restart the computer, re-download
the file and activated it again.
Automatically it synced to my facebook page and I can't go initial setup.
Could you tell me how to delete complately and re-setup initialy again pls?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http:

[2018-01-03 12:50] Nibiko commented on #134
I disactivated and deleted the plugin, restart the computer, re-download
the file and activated it again.
Automatically it synced to my facebook page and I can't go initial setup.
Could you tell me how to delete complately and re-setup initialy again pls?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http:

[2018-01-03 18:37] jieminz22 commented on #197
Hi Ambrish,

Looks like there might be some problem on our end. Instead, you can go to the "Advanced Options" and click "Delete Settings".  This will clear up the settings and then you can configure it again. Let me know if it works.

[2018-01-03 19:14] 7thcirclegit commented on #198
When I force a re-sync of products, it briefly changes to "syncing" and then reverts back to "all synced"

[2018-01-03 23:36] jieminz22 commented on #196
Hi JM,

Thanks for the info. I will forward this issue to shop team and will keep this issue open for any update.

[2018-01-04 04:22] jieminz22 commented on #198
Hi,

Which version of the extension are you using? Also, do you see exceptions related to FB in the PHP logs?

Thanks.

[2018-01-04 18:01] 7thcirclegit commented on #198
WordPress 4.9.1
Woocommerce 3.2.6
Facebook for WooCommerce 1.7.3
[debug.log](https://github.com/facebookincubator/facebook-for-woocommerce/files/1604263/debug.log)

[2018-01-04 22:36] truchosky opened #199 "[high CPU usage after sync products]error message: FastCGI sent in stderr: "PHP message: on construct" while reading upstream"
hi guys, I use version 1.7.3, after install it on my site and config the pixel my CPU goes to 100%, I use nginx + php5-fpm, checking nginx log I saw this:

2018/01/04 19:09:52 [error] 679#0: *2731 FastCGI sent in stderr: "PHP message: on construct" while reading upstream, client: 173.252.86.66, server: la-maria.cl, request: "GET /producto/marco-polo-bubbler/?attribute_pa_color=gold HTTP/1.1", upst

[2018-01-04 22:38] truchosky commented on #199
attach error log since plugin installation (31/12/2017)
[error.log](https://github.com/facebookincubator/facebook-for-woocommerce/files/1604939/error.log)

[2018-01-05 12:43] ronakganatra9 opened #200 "ViewCategory injection conflicts with Wooommerce pagination on product-category page."
This plugin is conflicting with WooCommerce pagination functionality on the product-category page. When we click on product-category than there is a list of subcategories but in normal there is not any pagination is displayed but after activating this plugin it adds pagination below subcategory listing. and also pagination works wrong.
When I have checked code below function is affecting it.
file:

[2018-01-05 13:15] slava1967 opened #201 "W3 validation error : An img element must have an alt attribute."
After validating at w3.org I have the following error: An img element must have an alt attribute

<img height="1" width="1" style="display:none"↩src="https://www.facebook.com/tr?id=569207803288287&ev=PageView&noscript=1"/>

Is there any way to fix it?

[2018-01-05 19:09] jieminz22 commented on #200
Hi,

Thanks for reporting this. Which version of extension are you using? Could you share some screenshot? Also, could you give us a list of detailed steps so that we can try them on our test servers and reproduce your problem? Thanks.

[2018-01-05 19:10] jieminz22 commented on #201
Hi,

Which version of the extension are you using?

[2018-01-05 19:56] slava1967 commented on #201
1.7.3

[2018-01-05 20:06] slava1967 commented on #201
[facebook-commerce-pixel-event.zip](https://github.com/facebookincubator/facebook-for-woocommerce/files/1607766/facebook-commerce-pixel-event.zip)

[2018-01-05 21:01] slava1967 commented on #201
<noscript>
<img height=\"1\" width=\"1\" style=\"display:none\"
src=\"https://www.facebook.com/tr?id=%s&ev=PageView&noscript=1\"/>
</noscript>

[2018-01-05 21:02] slava1967 commented on #201
#
#<noscript>
#<img height=\"1\" width=\"1\" style=\"display:none\"
#src=\"https://www.facebook.com/tr?id=%s&ev=PageView&noscript=1\"/>
#</noscript>
#
#

[2018-01-05 21:41] mengyingdu commented on #183
Hi @pomochoko

We have tested and included all fixes and updates in [v1.7.4](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.4). Can you upgrade and try it?

[2018-01-05 21:41] mengyingdu commented on #176
Hi,
We included all fixes and updates in [v1.7.4](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.4). Can you upgrade and try it?

[2018-01-05 21:42] mengyingdu commented on #172
Hi,
We included all fixes and updates in [v1.7.4](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.4). Can you upgrade and try it?

[2018-01-05 21:43] mengyingdu commented on #151
Hi,
We included all fixes and updates in [v1.7.4](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.4). Can you upgrade and try it?

[2018-01-05 21:43] mengyingdu commented on #144
Hi,
We have basic support for WPML in [v1.7.4](https://github.com/facebookincubator/facebook-for-woocommerce/releases/tag/v1.7.4). Can you upgrade and try it?